In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [7]:
"""""
LOAD DATA
"""""
ratings = pd.read_csv('C:\\Users\\tjdal\\PycharmProjects\\Kaggle\\movies\\ratings.csv')

In [21]:
ratings_small =   pd.read_csv('C:\\Users\\tjdal\\PycharmProjects\\Kaggle\\movies\\ratings_small.csv')

        userId  movieId  rating   timestamp
0            1       31     2.5  1260759144
1            1     1029     3.0  1260759179
2            1     1061     3.0  1260759182
3            1     1129     2.0  1260759185
4            1     1172     4.0  1260759205
...        ...      ...     ...         ...
99999      671     6268     2.5  1065579370
100000     671     6269     4.0  1065149201
100001     671     6365     4.0  1070940363
100002     671     6385     2.5  1070979663
100003     671     6565     3.5  1074784724

[100004 rows x 4 columns]

In [9]:
movies_meta =  pd.read_csv('C:\\Users\\tjdal\\PycharmProjects\\Kaggle\\movies\\movies_metadata.csv')

c:\users\tjdal\pycharmprojects\kaggle\venv\lib\site-packages\IPython\core\interactiveshell.py:3441: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [12]:
keywords = pd.read_csv('C:\\Users\\tjdal\\PycharmProjects\\Kaggle\\movies\\keywords.csv')

In [23]:
credits=   pd.read_csv('C:\\Users\\tjdal\\PycharmProjects\\Kaggle\\movies\\credits.csv')

In [17]:
links =    pd.read_csv('C:\\Users\\tjdal\\PycharmProjects\\Kaggle\\movies\\links.csv')

In [19]:
links_small =    pd.read_csv('C:\\Users\\tjdal\\PycharmProjects\\Kaggle\\movies\\links_small.csv')

          userId  movieId  rating   timestamp
0              1      110     1.0  1425941529
1              1      147     4.5  1425942435
2              1      858     5.0  1425941523
3              1     1221     5.0  1425941546
4              1     1246     5.0  1425941556
...          ...      ...     ...         ...
26024284  270896    58559     5.0  1257031564
26024285  270896    60069     5.0  1257032032
26024286  270896    63082     4.5  1257031764
26024287  270896    64957     4.5  1257033990
26024288  270896    71878     2.0  1257031858

[26024289 rows x 4 columns]

In [26]:
ratings[['userId','movieId','rating','timestamp']]

          userId  movieId  rating   timestamp
0              1      110     1.0  1425941529
1              1      147     4.5  1425942435
2              1      858     5.0  1425941523
3              1     1221     5.0  1425941546
4              1     1246     5.0  1425941556
...          ...      ...     ...         ...
26024284  270896    58559     5.0  1257031564
26024285  270896    60069     5.0  1257032032
26024286  270896    63082     4.5  1257031764
26024287  270896    64957     4.5  1257033990
26024288  270896    71878     2.0  1257031858

[26024289 rows x 4 columns]

In [28]:
ratings.dtypes

userId         int64
movieId        int64
rating       float64
timestamp      int64
dtype: object

In [37]:
# unique한 아이디의 개수 확인
unique_movieId = len(ratings.movieId.unique())

In [35]:
print('unique movie count : {}'.format(unique_movieId))

unique movie count : 45115

In [39]:
unique_usereId = len(ratings.userId.unique())
print('unique user count : {}'.format(unique_usereId))

unique user count : 270896

In [ ]:
# 가장 많은 영화를 본 유저 outlier 한 유저 check
# timestamp 를 포함하면 안된다
# groups =ratings.groupby(['userId','movieId']).count()

In [42]:
# groups

                rating  timestamp
userId movieId
1      110           1          1
       147           1          1
       858           1          1
       1221          1          1
       1246          1          1
...                ...        ...
270896 58559         1          1
       60069         1          1
       63082         1          1
       64957         1          1
       71878         1          1

[26024289 rows x 2 columns]

In [45]:
groupKey = ['userId','movieId']

In [60]:
rating_group = ratings[['userId','movieId','rating']].groupby(groupKey).count()

In [56]:
# column 이 아닌 mulit-index로 간다
#rating_group[rating_group.userId == 1]
# ? 그룹별 집계를 보고 싶었다
#rating_group = ratings[['userId','movieId','rating']].groupby(groupKey).transform(max)

In [59]:
#rating_group.sum()

rating    91816043.0
dtype: float64

In [77]:
# ratings movie id 컬럼에 대해서 ratings userid 로 그룹화하고 count() 함수 적용 (개수)
# 유저별
user_rating_cnt = ratings['movieId'].groupby(ratings['userId']).count()

In [91]:
user_rating_cnt = pd.DataFrame(index=user_rating_cnt.index ,data=user_rating_cnt)

In [94]:
user_rating_cnt.columns = ['movie_cnt']

In [99]:
# 가정 적은 평가를 한 유저
min(user_rating_cnt.movie_cnt)

1

In [100]:
# 가정 많은 평가를 한 유저
max(user_rating_cnt.movie_cnt)

18276

In [109]:
#user_rating_cnt[user_rating_cnt.movie_cnt==18276]

#ratings[ratings.userId == 45811]

<bound method Series.sort_index of userId
1          27
2          22
3          10
4          62
5          26
         ...
270892     75
270893    190
270894    148
270895     20
270896    260
Name: movie_cnt, Length: 270896, dtype: int64>

In [110]:
user_rating_cnt

        movie_cnt
userId
1              27
2              22
3              10
4              62
5              26
...           ...
270892         75
270893        190
270894        148
270895         20
270896        260

[270896 rows x 1 columns]

In [117]:
# 사용자별 평가 개수 순서
user_rating_cnt.index.unique()

Int64Index([     1,      2,      3,      4,      5,      6,      7,      8,
                 9,     10,
            ...
            270887, 270888, 270889, 270890, 270891, 270892, 270893, 270894,
            270895, 270896],
           dtype='int64', name='userId', length=270896)

In [121]:
ratings.merge(movies_meta[['']], how='left', on='movieId')

          userId  movieId  rating   timestamp
0              1      110     1.0  1425941529
1              1      147     4.5  1425942435
2              1      858     5.0  1425941523
3              1     1221     5.0  1425941546
4              1     1246     5.0  1425941556
...          ...      ...     ...         ...
26024284  270896    58559     5.0  1257031564
26024285  270896    60069     5.0  1257032032
26024286  270896    63082     4.5  1257031764
26024287  270896    64957     4.5  1257033990
26024288  270896    71878     2.0  1257031858

[26024289 rows x 4 columns]

In [123]:
movies_meta.id

0           862
1          8844
2         15602
3         31357
4         11862
          ...
45461    439050
45462    111109
45463     67758
45464    227506
45465    461257
Name: id, Length: 45466, dtype: object

In [162]:
# feature_extraction
movies_feature=  movies_meta[['title','imdb_id','id','overview','runtime','release_date','status','vote_count','vote_average','adult','genres' ]]

In [128]:
# merge를 위해 컬럼명 변경
ratings.columns = ['userId','id','rating','timestamp']

In [129]:
ratings

          userId     id  rating   timestamp
0              1    110     1.0  1425941529
1              1    147     4.5  1425942435
2              1    858     5.0  1425941523
3              1   1221     5.0  1425941546
4              1   1246     5.0  1425941556
...          ...    ...     ...         ...
26024284  270896  58559     5.0  1257031564
26024285  270896  60069     5.0  1257032032
26024286  270896  63082     4.5  1257031764
26024287  270896  64957     4.5  1257033990
26024288  270896  71878     2.0  1257031858

[26024289 rows x 4 columns]

In [130]:
# merge는 타입이 맞지 않는다.
ratings.merge(movies_feature[['id','overview']], how='left',on='id' )

ValueError: You are trying to merge on int64 and object columns. If you wish to proceed you should use pd.concat

In [134]:
# data type 맞추기
#ratings.id.dtype

dtype('int64')

In [135]:
#movies_feature.id.dtype

dtype('O')

In [138]:
movies_feature.id.astype(int)

ValueError: invalid literal for int() with base 10: '1997-08-20'

In [168]:
# 에러 값 제외 필요
#movies_feature[movies_feature.id == '1997-08-20']

# isin pass list-like
#
#movies_feature[movies_feature.id.isin(['1997-08-20'])]

#movies_feature[movies_feature.id.str.contains('-')].drop()
# ValueError: Need to specify at least one of 'labels', 'index' or 'columns


drop_index = movies_feature[movies_feature.id.str.contains('-')].index

In [169]:
movies_feature = movies_feature.drop(drop_index)

In [170]:
movies_feature.id = movies_feature.id.astype(int)

In [173]:
ratings.merge(movies_feature[['id','overview','title']], how='inner',on='id' )

,userId,id,rating,timestamp,overview,title
0,1,110,1.0,1425941529,Red This is the third film from the trilogy by...,Three Colors: Red
1,11,110,3.5,1231676989,Red This is the third film from the trilogy by...,Three Colors: Red
2,22,110,5.0,1111937009,Red This is the third film from the trilogy by...,Three Colors: Red
3,24,110,5.0,979870012,Red This is the third film from the trilogy by...,Three Colors: Red
4,29,110,3.0,1044020005,Red This is the third film from the trilogy by...,Three Colors: Red
...,...,...,...,...,...,...
11437632,270123,140222,3.0,1440920139,When a young soldier in Vietnam gets dumped by...,Love and Honor
11437633,270123,151509,3.0,1453527817,"The long awaited sequel to R. Kelly's ""Trapped...",Trapped in the Closet: Chapters 23-33
11437634,270123,159109,1.5,1465361347,"After being released from prison, a man known ...",The Rambler
11437635,270694,165159,4.0,1476635117,NaN,Agenzia Riccardo Finzi... praticamente detective
11437636,270887,136928,3.0,1463422216,"When winter begins, life is serene for a group...",First Winter

In [175]:
from sklearn.feature_extraction.text import TfidfVectorizer


tf = TfidfVectorizer()
##
#
#tf = TfidfVectorizer(stop_words='english')
##

TypeError: fit_transform() missing 1 required positional argument: 'raw_documents'

0        Led by Woody, Andy's toys live happily in his ...
1        When siblings Judy and Peter discover an encha...
2        A family wedding reignites the ancient feud be...
3        Cheated on, mistreated and stepped on, the wom...
4        Just when George Banks has recovered from his ...
                               ...
45461          Rising and falling between a man and woman.
45462    An artist struggles to finish his work while a...
45463    When one of her hits goes wrong, a professiona...
45464    In a small town live two brothers, one a minis...
45465    50 years after decriminalisation of homosexual...
Name: overview, Length: 45463, dtype: object

In [177]:
# word_dict genearte and encoding through fit_transform 은 유사도 행렬을 만드는 메서드이고 정수 인코딩 토크나이저는 아니다

In [193]:
tfid_matrix = tf.fit_transform(movies_feature['overview'].dropna())
# matrix를 구하고 내부적으로 인코딩하여 가지고 있으므로 정수 인코딩을 표시하지는 않는 함수

In [226]:
# 영화의 개수 , 단어 수 () 는 call 함수를 부른다? ()를 썼을 때는 not callable이 나온다 ()가 클래스 객체를 호출 할 수 있게끔 하는 함수 매직 메서드 __call__이다
tfid_matrix[:5000,].shape

(5000, 76132)

In [194]:
from sklearn.metrics.pairwise import linear_kernel

MemoryError: Unable to allocate 7.04 GiB for an array with shape (1891075122,) and data type int32

In [ ]:
# 계산불가
#linear_kernel(tfid_matrix,tfid_matrix)

In [ ]:
tf.get_feature_names()
tf.vocabulary_['led']

38226

In [205]:


from tensorflow.keras.preprocessing.text import Tokenizer

tokenizer = Tokenizer()

In [201]:
texts = movies_feature['overview'].apply(lambda x : str(x).split(' '))

In [203]:
texts.tolist()

TypeError: tolist() takes 1 positional argument but 2 were given

In [206]:
tokenizer.fit_on_texts(texts)

In [207]:

tokenizer.word_index

{'the': 1,
 'a': 2,
 'and': 3,
 'to': 4,
 'of': 5,
 'in': 6,
 'is': 7,
 'his': 8,
 'with': 9,
 'he': 10,
 'her': 11,
 'for': 12,
 'on': 13,
 'an': 14,
 'by': 15,
 'that': 16,
 'as': 17,
 'who': 18,
 'their': 19,
 'from': 20,
 'but': 21,
 'when': 22,
 'they': 23,
 'she': 24,
 'has': 25,
 'are': 26,
 'at': 27,
 'this': 28,
 'one': 29,
 'into': 30,
 'after': 31,
 'it': 32,
 'young': 33,
 'him': 34,
 'be': 35,
 'new': 36,
 'up': 37,
 'out': 38,
 'life': 39,
 'about': 40,
 'two': 41,
 'film': 42,
 'have': 43,
 'all': 44,
 'was': 45,
 'man': 46,
 'will': 47,
 'story': 48,
 'love': 49,
 'not': 50,
 'find': 51,
 'only': 52,
 'which': 53,
 'family': 54,
 'them': 55,
 'world': 56,
 'while': 57,
 'where': 58,
 '-': 59,
 'get': 60,
 'finds': 61,
 'can': 62,
 'woman': 63,
 'what': 64,
 'must': 65,
 'years': 66,
 'through': 67,
 'first': 68,
 'more': 69,
 'been': 70,
 'old': 71,
 'time': 72,
 'back': 73,
 'between': 74,
 'during': 75,
 'takes': 76,
 'own': 77,
 'over': 78,
 'becomes': 79,
 'three': 80,
 'lives': 81,
 'or': 82,
 'so': 83,
 'take': 84,
 'other': 85,
 'most': 86,
 'help': 87,
 '': 88,
 'being': 89,
 'also': 90,
 'no': 91,
 'make': 92,
 'some': 93,
 'girl': 94,
 'just': 95,
 'gets': 96,
 'set': 97,
 'friends': 98,
 'father': 99,
 'group': 100,
 'way': 101,
 'before': 102,
 'its': 103,
 'against': 104,
 'war': 105,
 'soon': 106,
 'off': 107,
 'people': 108,
 'each': 109,
 'himself': 110,
 'home': 111,
 'now': 112,
 'become': 113,
 'wife': 114,
 'meets': 115,
 'american': 116,
 'then': 117,
 'go': 118,
 'school': 119,
 'town': 120,
 'than': 121,
 'small': 122,
 'goes': 123,
 'falls': 124,
 'how': 125,
 'both': 126,
 'begins': 127,
 'there': 128,
 'comes': 129,
 'him.': 130,
 'documentary': 131,
 'even': 132,
 'tries': 133,
 'son': 134,
 'mother': 135,
 'day': 136,
 'local': 137,
 'down': 138,
 'best': 139,
 'police': 140,
 'based': 141,
 'men': 142,
 'friend': 143,
 'decides': 144,
 'death': 145,
 "he's": 146,
 'living': 147,
 'like': 148,
 'wants': 149,
 'do': 150,
 'daughter': 151,
 'very': 152,
 'mysterious': 153,
 'discovers': 154,
 "it's": 155,
 'life.': 156,
 'together': 157,
 'around': 158,
 'named': 159,
 'live': 160,
 'high': 161,
 'former': 162,
 'city': 163,
 'work': 164,
 'until': 165,
 'had': 166,
 'boy': 167,
 'come': 168,
 'true': 169,
 'however,': 170,
 'if': 171,
 'beautiful': 172,
 'whose': 173,
 'little': 174,
 'save': 175,
 'movie': 176,
 'turns': 177,
 'last': 178,
 'tells': 179,
 'order': 180,
 'house': 181,
 '--': 182,
 'another': 183,
 'same': 184,
 'secret': 185,
 'night': 186,
 'year': 187,
 'follows': 188,
 'never': 189,
 'four': 190,
 'journey': 191,
 'trying': 192,
 'york': 193,
 'many': 194,
 'things': 195,
 'forced': 196,
 'relationship': 197,
 'under': 198,
 'team': 199,
 'comedy': 200,
 'these': 201,
 'murder': 202,
 'were': 203,
 'returns': 204,
 'makes': 205,
 'husband': 206,
 'her.': 207,
 'job': 208,
 'nan': 209,
 'women': 210,
 'along': 211,
 'once': 212,
 'series': 213,
 'big': 214,
 'end': 215,
 'starts': 216,
 'real': 217,
 'away': 218,
 'may': 219,
 'does': 220,
 'discover': 221,
 'fight': 222,
 'left': 223,
 'place': 224,
 'you': 225,
 'meet': 226,
 'long': 227,
 'money': 228,
 'director': 229,
 'brother': 230,
 'behind': 231,
 'try': 232,
 'couple': 233,
 'gang': 234,
 'john': 235,
 'still': 236,
 'we': 237,
 'evil': 238,
 'because': 239,
 'every': 240,
 'stop': 241,
 'made': 242,
 'themselves': 243,
 'having': 244,
 'part': 245,
 'much': 246,
 'human': 247,
 'great': 248,
 'leads': 249,
 'black': 250,
 'would': 251,
 '–': 252,
 'face': 253,
 'him,': 254,
 'children': 255,
 'married': 256,
 'see': 257,
 'working': 258,
 'going': 259,
 'start': 260,
 'well': 261,
 'good': 262,
 'without': 263,
 'them.': 264,
 'turn': 265,
 'life,': 266,
 'look': 267,
 'called': 268,
 'search': 269,
 'past': 270,
 'run': 271,
 'everything': 272,
 'keep': 273,
 'escape': 274,
 'battle': 275,
 'including': 276,
 'sent': 277,
 'too': 278,
 'herself': 279,
 'decide': 280,
 'seems': 281,
 'village': 282,
 'lost': 283,
 "doesn't": 284,
 'any': 285,
 'killed': 286,
 'across': 287,
 'country': 288,
 'know': 289,
 'fall': 290,
 'different': 291,
 'upon': 292,
 'since': 293,
 'known': 294,
 'those': 295,
 'french': 296,
 'british': 297,
 'music': 298,
 'star': 299,
 "she's": 300,
 'dead': 301,
 'days': 302,
 'put': 303,
 'next': 304,
 'five': 305,
 'return': 306,
 'events': 307,
 'crime': 308,
 'strange': 309,
 'de': 310,
 'several': 311,
 'parents': 312,
 'kill': 313,
 'begin': 314,
 'sets': 315,
 'dr.': 316,
 'power': 317,
 'show': 318,
 'could': 319,
 'sister': 320,
 'learns': 321,
 'student': 322,
 'ever': 323,
 'found': 324,
 'works': 325,
 'personal': 326,
 'army': 327,
 'college': 328,
 'finally': 329,
 'bring': 330,
 'something': 331,
 'whom': 332,
 'car': 333,
 'attempt': 334,
 'leave': 335,
 'leaves': 336,
 'world.': 337,
 'famous': 338,
 'head': 339,
 'forces': 340,
 'killer': 341,
 'making': 342,
 'play': 343,
 'few': 344,
 'our': 345,
 '"the': 346,
 'drug': 347,
 'band': 348,
 'taken': 349,
 'us': 350,
 'rich': 351,
 'prison': 352,
 'tale': 353,
 'detective': 354,
 'plan': 355,
 'agent': 356,
 'involved': 357,
 'it.': 358,
 'wealthy': 359,
 'lead': 360,
 'taking': 361,
 'love.': 362,
 'family.': 363,
 'change': 364,
 'trip': 365,
 'business': 366,
 'political': 367,
 'moves': 368,
 'dark': 369,
 'early': 370,
 'special': 371,
 'attempts': 372,
 'teenage': 373,
 'chance': 374,
 'looking': 375,
 'always': 376,
 'dreams': 377,
 'getting': 378,
 'dangerous': 379,
 'later': 380,
 'marriage': 381,
 'mission': 382,
 'game': 383,
 'use': 384,
 'really': 385,
 'drama': 386,
 'father,': 387,
 'south': 388,
 'directed': 389,
 'king': 390,
 'stories': 391,
 'white': 392,
 'stars': 393,
 'girlfriend': 394,
 'ends': 395,
 'give': 396,
 'determined': 397,
 'island': 398,
 'girls': 399,
 'second': 400,
 'career': 401,
 'want': 402,
 'written': 403,
 'child': 404,
 'powerful': 405,
 'summer': 406,
 'everyone': 407,
 'plans': 408,
 'german': 409,
 'day,': 410,
 'despite': 411,
 'learn': 412,
 'female': 413,
 'following': 414,
 'wife,': 415,
 'quickly': 416,
 'brings': 417,
 'shows': 418,
 'such': 419,
 'government': 420,
 'her,': 421,
 'nothing': 422,
 'arrives': 423,
 'killing': 424,
 'man,': 425,
 'using': 426,
 'crew': 427,
 'family,': 428,
 'bad': 429,
 'love,': 430,
 'body': 431,
 'plays': 432,
 'eventually': 433,
 'runs': 434,
 'though': 435,
 'plot': 436,
 'doctor': 437,
 'romantic': 438,
 'history': 439,
 'company': 440,
 'yet': 441,
 'military': 442,
 'christmas': 443,
 'dream': 444,
 'deadly': 445,
 'led': 446,
 'final': 447,
 'los': 448,
 'gives': 449,
 'jack': 450,
 "can't": 451,
 'japanese': 452,
 'later,': 453,
 'russian': 454,
 'heart': 455,
 'land': 456,
 'successful': 457,
 'party': 458,
 'struggle': 459,
 'suddenly': 460,
 'revenge': 461,
 'move': 462,
 'late': 463,
 'join': 464,
 'social': 465,
 'childhood': 466,
 'short': 467,
 'brothers': 468,
 'rock': 469,
 'sees': 470,
 'marry': 471,
 'stay': 472,
 'case': 473,
 'win': 474,
 'close': 475,
 'modern': 476,
 'criminal': 477,
 'officer': 478,
 'boys': 479,
 'middle': 480,
 'among': 481,
 'friend,': 482,
 'sexual': 483,
 'caught': 484,
 'within': 485,
 'students': 486,
 'earth': 487,
 'future': 488,
 'struggles': 489,
 'violent': 490,
 'road': 491,
 'deal': 492,
 "who's": 493,
 'book': 494,
 'released': 495,
 'david': 496,
 'form': 497,
 'and,': 498,
 'tv': 499,
 'name': 500,
 'mother,': 501,
 'full': 502,
 'friendship': 503,
 "father's": 504,
 'popular': 505,
 'remote': 506,
 'force': 507,
 'legendary': 508,
 'owner': 509,
 'rescue': 510,
 'top': 511,
 'free': 512,
 'far': 513,
 'train': 514,
 'hit': 515,
 'affair': 516,
 'race': 517,
 'sex': 518,
 'shot': 519,
 'u.s.': 520,
 'inside': 521,
 'teacher': 522,
 'unexpected': 523,
 'single': 524,
 'leading': 525,
 'knows': 526,
 'classic': 527,
 'michael': 528,
 'musical': 529,
 'various': 530,
 'leader': 531,
 'uses': 532,
 'break': 533,
 'captain': 534,
 'united': 535,
 'murdered': 536,
 'meanwhile,': 537,
 'fellow': 538,
 'home.': 539,
 'travels': 540,
 'perfect': 541,
 'six': 542,
 'might': 543,
 'romance': 544,
 'major': 545,
 'international': 546,
 'protect': 547,
 'daughter,': 548,
 'film,': 549,
 'artist': 550,
 'told': 551,
 'james': 552,
 'changes': 553,
 'private': 554,
 'desperate': 555,
 'becoming': 556,
 'realizes': 557,
 'given': 558,
 'visit': 559,
 'leaving': 560,
 'bank': 561,
 'street': 562,
 'characters': 563,
 'time,': 564,
 'art': 565,
 'members': 566,
 'turned': 567,
 'son,': 568,
 'hard': 569,
 'cop': 570,
 'adventure': 571,
 'believes': 572,
 'right': 573,
 'again': 574,
 'care': 575,
 'struggling': 576,
 'control': 577,
 'london': 578,
 'older': 579,
 'travel': 580,
 'town.': 581,
 'paul': 582,
 'novel': 583,
 'ancient': 584,
 'friends,': 585,
 'apartment': 586,
 'follow': 587,
 'italian': 588,
 'mr.': 589,
 'deep': 590,
 'side': 591,
 'brought': 592,
 'time.': 593,
 'truth': 594,
 'age': 595,
 'tom': 596,
 'although': 597,
 'woman,': 598,
 'fighting': 599,
 'hope': 600,
 'near': 601,
 'able': 602,
 'accidentally': 603,
 'wild': 604,
 'years,': 605,
 'pair': 606,
 'action': 607,
 'quest': 608,
 'spend': 609,
 'survive': 610,
 'professor': 611,
 'looks': 612,
 'serial': 613,
 'lives.': 614,
 'films': 615,
 'baby': 616,
 'war.': 617,
 'death.': 618,
 'younger': 619,
 'needs': 620,
 'call': 621,
 'interviews': 622,
 'seen': 623,
 'filmmaker': 624,
 'george': 625,
 'missing': 626,
 'master': 627,
 'boss': 628,
 'your': 629,
 'seeks': 630,
 'thinks': 631,
 'north': 632,
 'abandoned': 633,
 '&amp;': 634,
 'footage': 635,
 'soldiers': 636,
 'community': 637,
 'guy': 638,
 'enough': 639,
 'writer': 640,
 'trouble': 641,
 'entire': 642,
 'poor': 643,
 'prove': 644,
 'destroy': 645,
 'man.': 646,
 'someone': 647,
 'kids': 648,
 'west': 649,
 'trapped': 650,
 'original': 651,
 'father.': 652,
 'reality': 653,
 'state': 654,
 'course': 655,
 'appears': 656,
 'paris': 657,
 'town,': 658,
 'home,': 659,
 'due': 660,
 'war,': 661,
 'person': 662,
 'them,': 663,
 'anything': 664,
 'indian': 665,
 'hands': 666,
 "don't": 667,
 'world,': 668,
 'better': 669,
 'almost': 670,
 'girl,': 671,
 'offers': 672,
 'asks': 673,
 'years.': 674,
 'scientist': 675,
 'why': 676,
 'hopes': 677,
 'used': 678,
 'whole': 679,
 'frank': 680,
 'century': 681,
 'feature': 682,
 'city.': 683,
 'civil': 684,
 'loses': 685,
 'space': 686,
 'joe': 687,
 'realize': 688,
 'alien': 689,
 'helps': 690,
 'role': 691,
 'horror': 692,
 'alone': 693,
 'joins': 694,
 'coming': 695,
 'robert': 696,
 'hidden': 697,
 'loves': 698,
 'experience': 699,
 'happens': 700,
 'playing': 701,
 'share': 702,
 'hired': 703,
 'hollywood': 704,
 'happy': 705,
 "man's": 706,
 'encounter': 707,
 'feels': 708,
 'hotel': 709,
 'class': 710,
 'seemingly': 711,
 'cannot': 712,
 'gay': 713,
 'accident': 714,
 'mystery': 715,
 'problems': 716,
 'encounters': 717,
 'sam': 718,
 'i': 719,
 'troubled': 720,
 'brother,': 721,
 'lover': 722,
 'boyfriend': 723,
 'became': 724,
 'instead': 725,
 'stage': 726,
 'peter': 727,
 'singer': 728,
 'need': 729,
 'believe': 730,
 'finding': 731,
 'growing': 732,
 'society': 733,
 "they're": 734,
 'attack': 735,
 "isn't": 736,
 'actually': 737,
 'greatest': 738,
 'public': 739,
 'brutal': 740,
 'law': 741,
 'got': 742,
 'comic': 743,
 'investigate': 744,
 'professional': 745,
 'rise': 746,
 'seven': 747,
 'camp': 748,
 'dog': 749,
 'thing': 750,
 'tell': 751,
 'spirit': 752,
 'night,': 753,
 'wedding': 754,
 'english': 755,
 'ship': 756,
 'other.': 757,
 'kills': 758,
 'recently': 759,
 'outside': 760,
 'wife.': 761,
 'means': 762,
 'escapes': 763,
 'ruthless': 764,
 'wrong': 765,
 'charlie': 766,
 'cast': 767,
 'himself.': 768,
 'america': 769,
 'breaks': 770,
 'streets': 771,
 'school.': 772,
 'pay': 773,
 'front': 774,
 'film.': 775,
 'chinese': 776,
 'city,': 777,
 'nazi': 778,
 'national': 779,
 'rival': 780,
 'others': 781,
 'rest': 782,
 'large': 783,
 'faces': 784,
 'la': 785,
 'puts': 786,
 'now,': 787,
 'murder.': 788,
 'uncle': 789,
 'starring': 790,
 'stand': 791,
 'sends': 792,
 'often': 793,
 'already': 794,
 'gold': 795,
 'school,': 796,
 'kidnapped': 797,
 'ten': 798,
 'running': 799,
 'mary': 800,
 'bill': 801,
 'it,': 802,
 'act': 803,
 'jim': 804,
 'steal': 805,
 'red': 806,
 "world's": 807,
 'lonely': 808,
 'hero': 809,
 'track': 810,
 'explores': 811,
 'video': 812,
 'again.': 813,
 'murders': 814,
 'richard': 815,
 'lot': 816,
 'henry': 817,
 'member': 818,
 'prince': 819,
 'tragic': 820,
 'falling': 821,
 'portrait': 822,
 'million': 823,
 'unique': 824,
 'stolen': 825,
 'dies': 826,
 'unable': 827,
 'soviet': 828,
 'secrets': 829,
 'point': 830,
 'moving': 831,
 'filmed': 832,
 'drawn': 833,
 'rather': 834,
 "there's": 835,
 'should': 836,
 'television': 837,
 'san': 838,
 'important': 839,
 'haunted': 840,
 'times': 841,
 'threatens': 842,
 'reporter': 843,
 'causes': 844,
 'beloved': 845,
 'there,': 846,
 'notorious': 847,
 'planet': 848,
 'partner': 849,
 'unlikely': 850,
 'room': 851,
 'teenager': 852,
 'rural': 853,
 'husband,': 854,
 'reveals': 855,
 'past.': 856,
 'inspired': 857,
 'increasingly': 858,
 'born': 859,
 'mind': 860,
 'adventures': 861,
 'character': 862,
 'accused': 863,
 'president': 864,
 'mental': 865,
 'daughter.': 866,
 'friends.': 867,
 'beyond': 868,
 'whether': 869,
 'main': 870,
 'corrupt': 871,
 'losing': 872,
 'hospital': 873,
 'seem': 874,
 'open': 875,
 'actor': 876,
 'together,': 877,
 'news': 878,
 'epic': 879,
 'east': 880,
 'house.': 881,
 'third': 882,
 'quite': 883,
 'identity': 884,
 'woman.': 885,
 'number': 886,
 'fate': 887,
 'princess': 888,
 'soldier': 889,
 'create': 890,
 'mike': 891,
 'idea': 892,
 'handsome': 893,
 'let': 894,
 'together.': 895,
 'featuring': 896,
 'angeles': 897,
 'meeting': 898,
 'son.': 899,
 'building': 900,
 'hot': 901,
 'investigation': 902,
 'played': 903,
 'refuses': 904,
 'spends': 905,
 'present': 906,
 'ultimately': 907,
 'gangster': 908,
 'lord': 909,
 'actress': 910,
 'situation': 911,
 'queen': 912,
 'features': 913,
 'did': 914,
 'way.': 915,
 'seek': 916,
 'magic': 917,
 'teen': 918,
 'fact': 919,
 'ultimate': 920,
 'jewish': 921,
 'doing': 922,
 'slowly': 923,
 'hires': 924,
 'took': 925,
 'suicide': 926,
 'general': 927,
 'bizarre': 928,
 'especially': 929,
 'receives': 930,
 'harry': 931,
 'tour': 932,
 'figure': 933,
 'eyes': 934,
 'underground': 935,
 'calls': 936,
 'kind': 937,
 'out.': 938,
 'grows': 939,
 'simple': 940,
 'food': 941,
 'martial': 942,
 'dance': 943,
 'blood': 944,
 'difficult': 945,
 'manages': 946,
 'unknown': 947,
 'fights': 948,
 'lawyer': 949,
 'experiences': 950,
 'fear': 951,
 'nearly': 952,
 'hunt': 953,
 'money.': 954,
 'death,': 955,
 'assigned': 956,
 'western': 957,
 'security': 958,
 'desert': 959,
 'enter': 960,
 'holiday': 961,
 'estranged': 962,
 'lady': 963,
 'beauty': 964,
 'created': 965,
 '—': 966,
 'nick': 967,
 'innocent': 968,
 'died': 969,
 'driver': 970,
 'beginning': 971,
 'success': 972,
 'ways': 973,
 'complicated': 974,
 'months': 975,
 'obsessed': 976,
 'nuclear': 977,
 'build': 978,
 'sell': 979,
 'capture': 980,
 'mexican': 981,
 'martin': 982,
 'complete': 983,
 'develops': 984,
 'enemy': 985,
 'story,': 986,
 'mother.': 987,
 'dying': 988,
 'alex': 989,
 "family's": 990,
 'station': 991,
 'adaptation': 992,
 'farm': 993,
 'weekend': 994,
 'anyone': 995,
 'biggest': 996,
 'undercover': 997,
 'confront': 998,
 'continues': 999,
 'sister,': 1000,
 ...}

In [209]:
movies_feature['overview_seq']= tokenizer.texts_to_sequences(texts)

In [217]:
import re

movies_feature.genres[0]



#

"[{'id': 16, 'name': 'Animation'}, {'id': 35, 'name': 'Comedy'}, {'id': 10751, 'name': 'Family'}]"

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45461,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",http://www.imdb.com/title/tt6209470/,439050,tt6209470,fa,رگ خواب,Rising and falling between a man and woman.,...,NaN,0.0,90.0,"[{'iso_639_1': 'fa', 'name': 'فارسی'}]",Released,Rising and falling between a man and woman,Subdue,False,4.0,1.0
45462,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,111109,tt2028550,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,...,2011-11-17,0.0,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,NaN,Century of Birthing,False,9.0,3.0
45463,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",...,2003-08-01,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,False,3.8,6.0
45464,False,NaN,0,[],NaN,227506,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",...,1917-10-21,0.0,87.0,[],Released,NaN,Satan Triumphant,False,0.0,0.0
45465,False,NaN,0,[],NaN,461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,...,2017-06-09,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,False,0.0,0.0

In [ ]:
# 5000개 영화를 대상으로
tfid_matrix[:5000,].shape

In [227]:
# 상위 5000개 영화에 대해서 유사도 계산 sklearn.metrics.pairwise.linear_kernel 활용
cosine_similar = linear_kernel(
tfid_matrix[:5000,],
tfid_matrix[:5000,])

In [229]:
movies_meta

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45461,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",http://www.imdb.com/title/tt6209470/,439050,tt6209470,fa,رگ خواب,Rising and falling between a man and woman.,...,NaN,0.0,90.0,"[{'iso_639_1': 'fa', 'name': 'فارسی'}]",Released,Rising and falling between a man and woman,Subdue,False,4.0,1.0
45462,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,111109,tt2028550,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,...,2011-11-17,0.0,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,NaN,Century of Birthing,False,9.0,3.0
45463,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",...,2003-08-01,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,False,3.8,6.0
45464,False,NaN,0,[],NaN,227506,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",...,1917-10-21,0.0,87.0,[],Released,NaN,Satan Triumphant,False,0.0,0.0
45465,False,NaN,0,[],NaN,461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,...,2017-06-09,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,False,0.0,0.0

In [234]:
# index 옵션은 표시되는 인덱스
indices = pd.Series(movies_meta.index , index=movies_meta['title']).drop_duplicates()

RangeIndex(start=0, stop=45466, step=1)

In [238]:
indices

title
Toy Story                          0
Jumanji                            1
Grumpier Old Men                   2
Waiting to Exhale                  3
Father of the Bride Part II        4
                               ...
Subdue                         45461
Century of Birthing            45462
Betrayal                       45463
Satan Triumphant               45464
Queerama                       45465
Length: 45466, dtype: int64

In [233]:
indices

title
Toy Story                          0
Jumanji                            1
Grumpier Old Men                   2
Waiting to Exhale                  3
Father of the Bride Part II        4
                               ...
Subdue                         45461
Century of Birthing            45462
Betrayal                       45463
Satan Triumphant               45464
Queerama                       45465
Length: 45466, dtype: int64

In [251]:
cosine_similar

# similar_scores
def get_recommnedation(title, cosine_similar= cosine_similar):
    idx = indices[title]


    sim_score = list(enumerate(cosine_similar[idx]))

    sim_score = sorted(sim_score, key=lambda x: x[1], reverse=True)

    #top10
    sim_score = sim_score[1:11]

    movies_indices = [i[0] for i in sim_score]

    return movies_meta[['title','genres','overview']].iloc[movies_indices]

In [252]:
list(enumerate(cosine_similar[0]))

[(0, 0.9999999999999999),
 (1, 0.03069629575668497),
 (2, 0.012831307342806748),
 (3, 0.014753137827745195),
 (4, 0.030774545813864962),
 (5, 0.014640583098760098),
 (6, 0.009675383812244913),
 (7, 0.008534173051282236),
 (8, 0.01697721804799616),
 (9, 0.01317484563958116),
 (10, 0.01010655552072411),
 (11, 0.023782344536362757),
 (12, 0.011250642993821062),
 (13, 0.02055200994913223),
 (14, 0.01997628995576584),
 (15, 0.008770033177071094),
 (16, 0.014391924744038295),
 (17, 0.04223217868382002),
 (18, 0.016690136782778333),
 (19, 0.008350661314626258),
 (20, 0.024215480746101484),
 (21, 0.009333177690859283),
 (22, 0.018380374752217973),
 (23, 0.02111488459834987),
 (24, 0.011204037748129727),
 (25, 0.02201386117930542),
 (26, 0.017108594313568752),
 (27, 0.009095294768034),
 (28, 0.022900346987141537),
 (29, 0.015684109344371158),
 (30, 0.01669411693242506),
 (31, 0.025152599051374368),
 (32, 0.031237229070650706),
 (33, 0.009443669312289106),
 (34, 0.011324056962098294),
 (35, 0.026139311560639887),
 (36, 0.008174994614728799),
 (37, 0.007052293023214673),
 (38, 0.015300157665991618),
 (39, 0.0),
 (40, 0.029306503763690178),
 (41, 0.03402223395709204),
 (42, 0.02445184979670281),
 (43, 0.012233330308992797),
 (44, 0.020874530562208886),
 (45, 0.022830152162266134),
 (46, 0.017994781221332058),
 (47, 0.0020761360367376846),
 (48, 0.02645646460084145),
 (49, 0.024095899836620895),
 (50, 0.03244410076648584),
 (51, 0.01302105656369896),
 (52, 0.018557290958535907),
 (53, 0.03106566559557673),
 (54, 0.006609749271212835),
 (55, 0.03289198038314102),
 (56, 0.023171357527871195),
 (57, 0.02937002042670904),
 (58, 0.04962504660051301),
 (59, 0.010224020524533677),
 (60, 0.022078446433137996),
 (61, 0.02327213744610036),
 (62, 0.031679601803804275),
 (63, 0.034854893509322596),
 (64, 0.01608692432376476),
 (65, 0.02488917198364618),
 (66, 0.019611417140723512),
 (67, 0.015434110224542368),
 (68, 0.02165215461374925),
 (69, 0.005150469817013783),
 (70, 0.022464768165607298),
 (71, 0.01252463223279741),
 (72, 0.020291815534234845),
 (73, 0.023345210548546335),
 (74, 0.0069769600448678255),
 (75, 0.023758183619881426),
 (76, 0.02174980068027459),
 (77, 0.021395160915849077),
 (78, 0.006764233399944346),
 (79, 0.007541041173517873),
 (80, 0.01901419685161792),
 (81, 0.03729056767742326),
 (82, 0.053885420625616944),
 (83, 0.017729507920317827),
 (84, 0.0015141909371594986),
 (85, 0.021231316829924154),
 (86, 0.023962292949028643),
 (87, 0.0201782903598681),
 (88, 0.027943643217710545),
 (89, 0.011186466693803609),
 (90, 0.040164503012395006),
 (91, 0.019107414336536135),
 (92, 0.01955206474594112),
 (93, 0.03485983754244034),
 (94, 0.034407904827072455),
 (95, 0.014494189337742306),
 (96, 0.015586369289602489),
 (97, 0.016969924026304296),
 (98, 0.01475282328052634),
 (99, 0.022526907071619365),
 (100, 0.024259456319614164),
 (101, 0.009375116277371141),
 (102, 0.009665535886128916),
 (103, 0.0),
 (104, 0.03475584193881033),
 (105, 0.005976549883097298),
 (106, 0.006632922198675615),
 (107, 0.03936334947636484),
 (108, 0.013663644063220296),
 (109, 0.02445323952807986),
 (110, 0.036345106107270396),
 (111, 0.021000411954665666),
 (112, 0.015892311591835517),
 (113, 0.022723122027728797),
 (114, 0.01861973296134584),
 (115, 0.003076056370127539),
 (116, 0.01433169661883813),
 (117, 0.031206269419217093),
 (118, 0.023613521365636922),
 (119, 0.01597777000347401),
 (120, 0.027356820600666795),
 (121, 0.013397958652683162),
 (122, 0.020965464887107238),
 (123, 0.012780461461083227),
 (124, 0.030658926899252904),
 (125, 0.013990501733836275),
 (126, 0.007874927793184381),
 (127, 0.056667637535799814),
 (128, 0.01506964404458196),
 (129, 0.0168236114042323),
 (130, 0.0183136648825185),
 (131, 0.028073505307039316),
 (132, 0.017317721528492733),
 (133, 0.017601169492815764),
 (134, 0.019755228069327762),
 (135, 0.018484930121485426),
 (136, 0.0),
 (137, 0.016730188547035715),
 (138, 0.05435729345198778),
 (139, 0.013480032883888115),
 (140, 0.016494858753145665),
 (141, 0.019473432804064085),
 (142, 0.016427808259684835),
 (143, 0.009763151512622081),
 (144, 0.014360500530056804),
 (145, 0.01215106802388022),
 (146, 0.01823478515322058),
 (147, 0.03133998879896134),
 (148, 0.006085575189239813),
 (149, 0.027371989086000015),
 (150, 0.01360909321472434),
 (151, 0.013930622644730915),
 (152, 0.01270110882647756),
 (153, 0.009579010471824282),
 (154, 0.0345399694830126),
 (155, 0.01699939016281718),
 (156, 0.011135822417392638),
 (157, 0.018621004881086027),
 (158, 0.018103410828608474),
 (159, 0.005179919559352232),
 (160, 0.015809659965033696),
 (161, 0.026777635300841717),
 (162, 0.005485408539656575),
 (163, 0.011582335107657996),
 (164, 0.023354456503715492),
 (165, 0.011628250138903371),
 (166, 0.028537981019462772),
 (167, 0.016155070141679606),
 (168, 0.019400955162787892),
 (169, 0.008766826048798158),
 (170, 0.02710664039731241),
 (171, 0.02562530442921918),
 (172, 0.021576921495771194),
 (173, 0.013559554465891122),
 (174, 0.010896454126617149),
 (175, 0.025400496625742036),
 (176, 0.025754757633329198),
 (177, 0.019831113649072814),
 (178, 0.007087772415653746),
 (179, 0.07492158892551312),
 (180, 0.033627727816435755),
 (181, 0.018044598902487205),
 (182, 0.015948701358588942),
 (183, 0.004090574624492216),
 (184, 0.012441504167137935),
 (185, 0.01456043633312239),
 (186, 0.01457747707115747),
 (187, 0.03290405006558994),
 (188, 0.0071026629077112465),
 (189, 0.007589760930681257),
 (190, 0.01708088041068945),
 (191, 0.015787198046103297),
 (192, 0.014742399225646312),
 (193, 0.01317695950288316),
 (194, 0.016908069858742),
 (195, 0.014206898333159025),
 (196, 0.0073741742648398305),
 (197, 0.02796624209037668),
 (198, 0.011062507365499281),
 (199, 0.029509080967441877),
 (200, 0.005412788864687475),
 (201, 0.026050527085061403),
 (202, 0.013297323954055296),
 (203, 0.011571839861083722),
 (204, 0.016133958851411154),
 (205, 0.030962336495760006),
 (206, 0.013530839808747246),
 (207, 0.01988530155553284),
 (208, 0.013827659656347809),
 (209, 0.022241921023083568),
 (210, 0.01843007854432576),
 (211, 0.01904898531822136),
 (212, 0.019057190272829136),
 (213, 0.013195964297803935),
 (214, 0.0461096979176435),
 (215, 0.021984390679322542),
 (216, 0.0231771405743784),
 (217, 0.013059043743135363),
 (218, 0.021596417338762525),
 (219, 0.018618896092565156),
 (220, 0.01603231379751762),
 (221, 0.016297535662206167),
 (222, 0.03652557552553508),
 (223, 0.039538303909726714),
 (224, 0.002818259276967237),
 (225, 0.036064384366595245),
 (226, 0.029915129773065284),
 (227, 0.039932392470417744),
 (228, 0.0394260566150555),
 (229, 0.02571893603701365),
 (230, 0.015970278027895454),
 (231, 0.014472780572471767),
 (232, 0.03520643967359176),
 (233, 0.017897143937214286),
 (234, 0.022552042356114268),
 (235, 0.01943889043388404),
 (236, 0.0330906530402876),
 (237, 0.007150398030016971),
 (238, 0.01973689359195642),
 (239, 0.015602869666928707),
 (240, 0.027399968931522516),
 (241, 0.02393961064790464),
 (242, 0.013217923170812032),
 (243, 0.008788928717016595),
 (244, 0.017271961647669202),
 (245, 0.02778243632278908),
 (246, 0.015866508076047656),
 (247, 0.008447120243951644),
 (248, 0.010453253308664649),
 (249, 0.022577244720172508),
 (250, 0.029420055815721765),
 (251, 0.013241280897663977),
 (252, 0.02436553607356802),
 (253, 0.024194851960820135),
 (254, 0.027367817110500008),
 (255, 0.040662942378377455),
 (256, 0.05981523875271845),
 (257, 0.013900854653654282),
 (258, 0.02588464023824683),
 (259, 0.007870156060829636),
 (260, 0.011677567610271186),
 (261, 0.03650543859755687),
 (262, 0.015113706097038172),
 (263, 0.022120506404173908),
 (264, 0.025478073735919815),
 (265, 0.026101287826065803),
 (266, 0.012541070268945182),
 (267, 0.009900881661259932),
 (268, 0.030752271049411715),
 (269, 0.01868844733695388),
 (270, 0.004915778335763219),
 (271, 0.034221621438562395),
 (272, 0.009395346776029297),
 (273, 0.029247028563087637),
 (274, 0.03373062599432075),
 (275, 0.02992947657901667),
 (276, 0.0208508009898294),
 (277, 0.0036461951901404924),
 (278, 0.026167120303768675),
 (279, 0.013167477997842006),
 (280, 0.0037674872755119864),
 (281, 0.015391927912934485),
 (282, 0.010905686393861828),
 (283, 0.007755061408956789),
 (284, 0.01656921308337958),
 (285, 0.011687926670838018),
 (286, 0.042449238293348936),
 (287, 0.013732913022508248),
 (288, 0.018252819814833128),
 (289, 0.02376892739494498),
 (290, 0.018182450288095404),
 (291, 0.01887455057987253),
 (292, 0.00821385494538549),
 (293, 0.033881404476067904),
 (294, 0.012749996253996136),
 (295, 0.007638501609529093),
 (296, 0.006995919820255811),
 (297, 0.015652245537557355),
 (298, 0.01294694844524922),
 (299, 0.0055105536589797315),
 (300, 0.012188540998956462),
 (301, 0.03886976928574229),
 (302, 0.032141954637666746),
 (303, 0.02654408111660373),
 (304, 0.03226923570527908),
 (305, 0.023833110028921484),
 (306, 0.022955564252145632),
 (307, 0.01767300865189187),
 (308, 0.030743469437178556),
 (309, 0.011337009936008469),
 (310, 0.005772726929629631),
 (311, 0.02943239546857221),
 (312, 0.08299357105487142),
 (313, 0.020957831774568045),
 (314, 0.03456393390546883),
 (315, 0.03231343029930285),
 (316, 0.008490831314515553),
 (317, 0.016557376040991695),
 (318, 0.013293801181077036),
 (319, 0.017733781407423405),
 (320, 0.003737455840675899),
 (321, 0.012838057391800417),
 (322, 0.006018707723390573),
 (323, 0.02897914669664149),
 (324, 0.015033005845777388),
 (325, 0.017965349711862418),
 (326, 0.014478473604556017),
 (327, 0.01848916368495429),
 (328, 0.02961223344146288),
 (329, 0.009838518070920392),
 (330, 0.03222863096123991),
 (331, 0.008693062537148636),
 (332, 0.017643268616122573),
 (333, 0.017666419400649364),
 (334, 0.017309459578981855),
 (335, 0.005317456348223249),
 (336, 0.00469953212413693),
 (337, 0.009712119434969534),
 (338, 0.024315780289008958),
 (339, 0.014537607104480883),
 (340, 0.03583385100945652),
 (341, 0.018744817867909522),
 (342, 0.019687174924991564),
 (343, 0.019531153217327856),
 (344, 0.010433750929113975),
 (345, 0.0183747951990357),
 (346, 0.0161112902996589),
 (347, 0.019375453043718793),
 (348, 0.023393933070741522),
 (349, 0.017843899829529587),
 (350, 0.0020153478098017853),
 (351, 0.013916529567708969),
 (352, 0.008683785246855452),
 (353, 0.01649723762699953),
 (354, 0.01902867400725201),
 (355, 0.036430926045409755),
 (356, 0.02023283755797063),
 (357, 0.015878622855761474),
 (358, 0.008487716118785663),
 (359, 0.009166063898207084),
 (360, 0.010899173625464012),
 (361, 0.010518791817143085),
 (362, 0.009004211382053616),
 (363, 0.014056923838337777),
 (364, 0.01165062163878928),
 (365, 0.013954211088420893),
 (366, 0.02499723363768678),
 (367, 0.007376221222224761),
 (368, 0.05085088349736453),
 (369, 0.0012436687014679895),
 (370, 0.01616308024878054),
 (371, 0.0036479226238545015),
 (372, 0.02526564021882649),
 (373, 0.03916990607641503),
 (374, 0.028987041175363),
 (375, 0.013217656949580797),
 (376, 0.02709015717270654),
 (377, 0.010566313149798494),
 (378, 0.03305650441175271),
 (379, 0.020114707487176035),
 (380, 0.022941030454915103),
 (381, 0.028651221086636355),
 (382, 0.02684764664074378),
 (383, 0.024892013894273833),
 (384, 0.022145821072006674),
 (385, 0.016673284882108032),
 (386, 0.023807497975165105),
 (387, 0.031266666010800206),
 (388, 0.02608047029535246),
 (389, 0.010492052030369532),
 (390, 0.02251648769742851),
 (391, 0.020946788571136066),
 (392, 0.010994519140706687),
 (393, 0.0072666958021386265),
 (394, 0.014456127724323527),
 (395, 0.014679428539975442),
 (396, 0.026005800440787017),
 (397, 0.014340241817996037),
 (398, 0.016308534064487394),
 (399, 0.02082454589620345),
 (400, 0.021151488949698174),
 (401, 0.011827232604917422),
 (402, 0.010638339910659367),
 (403, 0.016031304206115315),
 (404, 0.021030475949808853),
 (405, 0.01741400322006048),
 (406, 0.01951806705218078),
 (407, 0.012298536936808581),
 (408, 0.026156460701736328),
 (409, 0.009807043090755826),
 (410, 0.02016023614407924),
 (411, 0.004294183096314927),
 (412, 0.017094068159545776),
 (413, 0.010029506888770204),
 (414, 0.018958299690053842),
 (415, 0.01655754499458913),
 (416, 0.012839060817782896),
 (417, 0.02167923601914616),
 (418, 0.0234060668950561),
 (419, 0.027027523899004733),
 (420, 0.012502032921114691),
 (421, 0.018804149226806184),
 (422, 0.0039999883772986146),
 (423, 0.022387679962570354),
 (424, 0.01564659048593339),
 (425, 0.06553090302298656),
 (426, 0.009255676604256805),
 (427, 0.034236319353451256),
 (428, 0.029255134521067067),
 (429, 0.019001466589586104),
 (430, 0.01334925116691477),
 (431, 0.012121547468365492),
 (432, 0.027748780374304494),
 (433, 0.030969049804826718),
 (434, 0.020184652847666514),
 (435, 0.016973842722958255),
 (436, 0.012166254786793968),
 (437, 0.022706595760404496),
 (438, 0.016574867591575376),
 (439, 0.04757823142840573),
 (440, 0.02213556984662158),
 (441, 0.011937997382627071),
 (442, 0.005858480646933216),
 (443, 0.019100908636455218),
 (444, 0.015729635591298214),
 (445, 0.016654349389175965),
 (446, 0.1278846573414064),
 (447, 0.02691713569146517),
 (448, 0.042719092020346294),
 (449, 0.014303393237044376),
 (450, 0.044971913958139785),
 (451, 0.017482543024716357),
 (452, 0.017810284614519483),
 (453, 0.027894084635296735),
 (454, 0.007525898658230929),
 (455, 0.023218968982549194),
 (456, 0.00153162523533472),
 (457, 0.013937737596964185),
 (458, 0.02528410455799909),
 (459, 0.011729850932318306),
 (460, 0.014294218992865476),
 (461, 0.03143021476720644),
 (462, 0.027472663973491115),
 (463, 0.03518057843526241),
 (464, 0.0029658871290617174),
 (465, 0.03147094421093576),
 (466, 0.036663850463057694),
 (467, 0.01893498209333881),
 (468, 0.03141579426411404),
 (469, 0.0110009724493775),
 (470, 0.007685058217197501),
 (471, 0.014190000437481913),
 (472, 0.013547354219156),
 (473, 0.016444267323546865),
 (474, 0.03731157825929923),
 (475, 0.02168826411962639),
 (476, 0.02626939952031175),
 (477, 0.012125681708394221),
 (478, 0.014149692416504564),
 (479, 0.020191760836052734),
 (480, 0.005617642789960719),
 (481, 0.00832906642560805),
 (482, 0.0014978798863693327),
 (483, 0.1262999819307657),
 (484, 0.02749185690456252),
 (485, 0.018682681715617058),
 (486, 0.00797100861874784),
 (487, 0.017077697226825173),
 (488, 0.025616983855160404),
 (489, 0.0026306424951769757),
 (490, 0.05811726435372903),
 (491, 0.017019705021502168),
 (492, 0.014262457723917595),
 (493, 0.044073153594278755),
 (494, 0.019500701414381975),
 (495, 0.029451929416340974),
 (496, 0.051515039459691485),
 (497, 0.026330533066980882),
 (498, 0.024360432006213958),
 (499, 0.015894985883942038),
 (500, 0.018484106457099306),
 (501, 0.04105175374211431),
 (502, 0.013311545348251897),
 (503, 0.007989091965483053),
 (504, 0.013502599011858534),
 (505, 0.01726374119246379),
 (506, 0.025220116970729855),
 (507, 0.0016520211992387083),
 (508, 0.025592712996139577),
 (509, 0.014912407095369567),
 (510, 0.04513587225592447),
 (511, 0.01463865333911931),
 (512, 0.02794188955073771),
 (513, 0.016000574385740023),
 (514, 0.02070507394005349),
 (515, 0.02302795948713554),
 (516, 0.019033185016671797),
 (517, 0.027287988159543527),
 (518, 0.02219075868114322),
 (519, 0.012277708621138307),
 (520, 0.016832808461724337),
 (521, 0.02803081626715309),
 (522, 0.01139225017775506),
 (523, 0.012482688592455415),
 (524, 0.03864087583833897),
 (525, 0.023582579416652146),
 (526, 0.02916098552709733),
 (527, 0.017479327015087844),
 (528, 0.009665472659664207),
 (529, 0.025491855600152876),
 (530, 0.008787736719557716),
 (531, 0.013960009559158177),
 (532, 0.021327263947956657),
 (533, 0.032585117552556477),
 (534, 0.021092801145570793),
 (535, 0.024991516549597494),
 (536, 0.0195177332054686),
 (537, 0.023347492429772305),
 (538, 0.00854011402436149),
 (539, 0.027180912239821952),
 (540, 0.022843017403456775),
 (541, 0.010134231247560284),
 (542, 0.009794950381480073),
 (543, 0.024277259541369882),
 (544, 0.013147564416740448),
 (545, 0.028694132801232695),
 (546, 0.028052151832655872),
 (547, 0.012579013135516279),
 (548, 0.015231801200783053),
 (549, 0.0079261532478976),
 (550, 0.016713229572218307),
 (551, 0.0),
 (552, 0.027399635254348992),
 (553, 0.014368666102932684),
 (554, 0.0044317479453088865),
 (555, 0.03271188459329935),
 (556, 0.002808550854385109),
 (557, 0.02976777527285741),
 (558, 0.025060578273953756),
 (559, 0.033713525540707785),
 (560, 0.026960592497342284),
 (561, 0.026694977976422375),
 (562, 0.022197630001143207),
 (563, 0.01931903968602982),
 (564, 0.005780566593975778),
 (565, 0.0035599751521336303),
 (566, 0.013933959161853474),
 (567, 0.02341845302426813),
 (568, 0.013868455221154386),
 (569, 0.005265713432294979),
 (570, 0.023934046522075446),
 (571, 0.020286984314581383),
 (572, 0.018769543220496673),
 (573, 0.010881553571981784),
 (574, 0.0),
 (575, 0.02440210795971671),
 (576, 0.030486465909153375),
 (577, 0.030306304143521787),
 (578, 0.032314467913904556),
 (579, 0.019891506571277556),
 (580, 0.018179676877885957),
 (581, 0.01106990592048376),
 (582, 0.017803668041393616),
 (583, 0.013814033085077629),
 (584, 0.010681377492431771),
 (585, 0.021163419766360637),
 (586, 0.031047866921896504),
 (587, 0.029824869764280365),
 (588, 0.05586100546159182),
 (589, 0.09415861236470484),
 (590, 0.016300912895365213),
 (591, 0.022950820561043344),
 (592, 0.026900660985348757),
 (593, 0.032123399260133384),
 (594, 0.041622352240591756),
 (595, 0.028243911744587697),
 (596, 0.019305367648143352),
 (597, 0.010937281021088197),
 (598, 0.02999014924611973),
 (599, 0.020265791154959665),
 (600, 0.004324295456648027),
 (601, 0.02152627742074482),
 (602, 0.01482332712811343),
 (603, 0.039001067570572825),
 (604, 0.012464260055476975),
 (605, 0.01615088479277465),
 (606, 0.041706437514836284),
 (607, 0.0057744721933747885),
 (608, 0.020543345857665214),
 (609, 0.02557072184456893),
 (610, 0.024842107891956497),
 (611, 0.014783686819325258),
 (612, 0.015329893342012853),
 (613, 0.00707647703684679),
 (614, 0.023347341063079577),
 (615, 0.03325575897056019),
 (616, 0.019265080400266466),
 (617, 0.05522099243943387),
 (618, 0.02560520545014015),
 (619, 0.07034492454921845),
 (620, 0.015508121381199983),
 (621, 0.023703259019795645),
 (622, 0.01832011035118263),
 (623, 0.008436210285167917),
 (624, 0.025351383051993612),
 (625, 0.0034624458170314475),
 (626, 0.012004708681947321),
 (627, 0.02936825724069586),
 (628, 0.01302401182868935),
 (629, 0.04078603552400027),
 (630, 0.010270791210004),
 (631, 0.014367472444630429),
 (632, 0.013937246083349716),
 (633, 0.010838720616789433),
 (634, 0.0191778304478629),
 (635, 0.010683581731608712),
 (636, 0.022749818663111234),
 (637, 0.014597456800494327),
 (638, 0.03252973471175043),
 (639, 0.01891391566799909),
 (640, 0.022360454448433154),
 (641, 0.03593764449742802),
 (642, 0.028082262949584613),
 (643, 0.005512726123831595),
 (644, 0.016129187164531492),
 (645, 0.012173495848482752),
 (646, 0.011024538248367915),
 (647, 0.010636348486663888),
 (648, 0.019225872082060884),
 (649, 0.02427079968279127),
 (650, 0.03273791308710835),
 (651, 0.02423065279892408),
 (652, 0.02442271298704185),
 (653, 0.0025440066690801807),
 (654, 0.01380926554251559),
 (655, 0.00985455086293556),
 (656, 0.018308738662111575),
 (657, 0.008698830618130857),
 (658, 0.01880958961652417),
 (659, 0.01281092574871423),
 (660, 0.019235436613354185),
 (661, 0.011474512612436217),
 (662, 0.007212924942160248),
 (663, 0.02707796778183942),
 (664, 0.016668288581268103),
 (665, 0.020899746155488987),
 (666, 0.01273857198538378),
 (667, 0.006992435487946292),
 (668, 0.02608889852837383),
 (669, 0.018177554466681185),
 (670, 0.020045088578796832),
 (671, 0.013690714878269667),
 (672, 0.030284102367429892),
 (673, 0.013045622213643814),
 (674, 0.023578858607393092),
 (675, 0.014168243503873296),
 (676, 0.02181491897838691),
 (677, 0.008435473734753385),
 (678, 0.026823398848215278),
 (679, 0.023153089816494936),

In [258]:
get_recommnedation('Batman Forever')

,title,genres,overview
3752,Jerry and Tom,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...","Tom and Jerry are two hit men, they work by da..."
301,Prêt-à-Porter,"[{'id': 18, 'name': 'Drama'}, {'id': 35, 'name...",Paris Fashion Week draws the usual bunch of pe...
1077,Microcosmos,"[{'id': 99, 'name': 'Documentary'}]",A documentary of insect life in meadows and po...
3358,La Bamba,"[{'id': 18, 'name': 'Drama'}, {'id': 10402, 'n...",Biographical story of the rise from nowhere of...
821,The Day the Sun Turned Cold,[],NaN
3420,Coming Apart,"[{'id': 18, 'name': 'Drama'}]",A psychiatrist secretly films his female patie...
648,Billy's Holiday,[],This movie is all about a normal guy called Bi...
4404,Return of the Living Dead Part II,"[{'id': 35, 'name': 'Comedy'}, {'id': 27, 'nam...",A group of kids discover one of the drums cont...
4868,The Defiant Ones,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...","Two convicts, a white racist and an angry blac..."
2735,Public Access,"[{'id': 18, 'name': 'Drama'}, {'id': 53, 'name...",Brewster seems to be an almost too perfect exa...

In [255]:
movies_meta[movies_meta['title'] == 'Toy Story']

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0