In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [7]:
"""""
LOAD DATA
"""""
ratings = pd.read_csv('C:\\Users\\tjdal\\PycharmProjects\\Kaggle\\movies\\ratings.csv')

In [21]:
ratings_small =   pd.read_csv('C:\\Users\\tjdal\\PycharmProjects\\Kaggle\\movies\\ratings_small.csv')

        userId  movieId  rating   timestamp
0            1       31     2.5  1260759144
1            1     1029     3.0  1260759179
2            1     1061     3.0  1260759182
3            1     1129     2.0  1260759185
4            1     1172     4.0  1260759205
...        ...      ...     ...         ...
99999      671     6268     2.5  1065579370
100000     671     6269     4.0  1065149201
100001     671     6365     4.0  1070940363
100002     671     6385     2.5  1070979663
100003     671     6565     3.5  1074784724

[100004 rows x 4 columns]

In [9]:
movies_meta =  pd.read_csv('C:\\Users\\tjdal\\PycharmProjects\\Kaggle\\movies\\movies_metadata.csv')

c:\users\tjdal\pycharmprojects\kaggle\venv\lib\site-packages\IPython\core\interactiveshell.py:3441: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [12]:
keywords = pd.read_csv('C:\\Users\\tjdal\\PycharmProjects\\Kaggle\\movies\\keywords.csv')

In [23]:
credits=   pd.read_csv('C:\\Users\\tjdal\\PycharmProjects\\Kaggle\\movies\\credits.csv')

In [17]:
links =    pd.read_csv('C:\\Users\\tjdal\\PycharmProjects\\Kaggle\\movies\\links.csv')

In [19]:
links_small =    pd.read_csv('C:\\Users\\tjdal\\PycharmProjects\\Kaggle\\movies\\links_small.csv')

          userId  movieId  rating   timestamp
0              1      110     1.0  1425941529
1              1      147     4.5  1425942435
2              1      858     5.0  1425941523
3              1     1221     5.0  1425941546
4              1     1246     5.0  1425941556
...          ...      ...     ...         ...
26024284  270896    58559     5.0  1257031564
26024285  270896    60069     5.0  1257032032
26024286  270896    63082     4.5  1257031764
26024287  270896    64957     4.5  1257033990
26024288  270896    71878     2.0  1257031858

[26024289 rows x 4 columns]

In [26]:
ratings[['userId','movieId','rating','timestamp']]

          userId  movieId  rating   timestamp
0              1      110     1.0  1425941529
1              1      147     4.5  1425942435
2              1      858     5.0  1425941523
3              1     1221     5.0  1425941546
4              1     1246     5.0  1425941556
...          ...      ...     ...         ...
26024284  270896    58559     5.0  1257031564
26024285  270896    60069     5.0  1257032032
26024286  270896    63082     4.5  1257031764
26024287  270896    64957     4.5  1257033990
26024288  270896    71878     2.0  1257031858

[26024289 rows x 4 columns]

In [28]:
ratings.dtypes

userId         int64
movieId        int64
rating       float64
timestamp      int64
dtype: object

In [37]:
# unique한 아이디의 개수 확인
unique_movieId = len(ratings.movieId.unique())

In [35]:
print('unique movie count : {}'.format(unique_movieId))

unique movie count : 45115

In [39]:
unique_usereId = len(ratings.userId.unique())
print('unique user count : {}'.format(unique_usereId))

unique user count : 270896

In [ ]:
# 가장 많은 영화를 본 유저 outlier 한 유저 check
# timestamp 를 포함하면 안된다
# groups =ratings.groupby(['userId','movieId']).count()

In [42]:
# groups

                rating  timestamp
userId movieId
1      110           1          1
       147           1          1
       858           1          1
       1221          1          1
       1246          1          1
...                ...        ...
270896 58559         1          1
       60069         1          1
       63082         1          1
       64957         1          1
       71878         1          1

[26024289 rows x 2 columns]

In [45]:
groupKey = ['userId','movieId']

In [60]:
rating_group = ratings[['userId','movieId','rating']].groupby(groupKey).count()

In [56]:
# column 이 아닌 mulit-index로 간다
#rating_group[rating_group.userId == 1]
# ? 그룹별 집계를 보고 싶었다
#rating_group = ratings[['userId','movieId','rating']].groupby(groupKey).transform(max)

In [59]:
#rating_group.sum()

rating    91816043.0
dtype: float64

In [77]:
# ratings movie id 컬럼에 대해서 ratings userid 로 그룹화하고 count() 함수 적용 (개수)
# 유저별
user_rating_cnt = ratings['movieId'].groupby(ratings['userId']).count()

In [91]:
user_rating_cnt = pd.DataFrame(index=user_rating_cnt.index ,data=user_rating_cnt)

In [94]:
user_rating_cnt.columns = ['movie_cnt']

In [99]:
# 가정 적은 평가를 한 유저
min(user_rating_cnt.movie_cnt)

1

In [100]:
# 가정 많은 평가를 한 유저
max(user_rating_cnt.movie_cnt)

18276

In [109]:
#user_rating_cnt[user_rating_cnt.movie_cnt==18276]

#ratings[ratings.userId == 45811]

<bound method Series.sort_index of userId
1          27
2          22
3          10
4          62
5          26
         ...
270892     75
270893    190
270894    148
270895     20
270896    260
Name: movie_cnt, Length: 270896, dtype: int64>

In [110]:
user_rating_cnt

        movie_cnt
userId
1              27
2              22
3              10
4              62
5              26
...           ...
270892         75
270893        190
270894        148
270895         20
270896        260

[270896 rows x 1 columns]

In [117]:
# 사용자별 평가 개수 순서
user_rating_cnt.index.unique()

Int64Index([     1,      2,      3,      4,      5,      6,      7,      8,
                 9,     10,
            ...
            270887, 270888, 270889, 270890, 270891, 270892, 270893, 270894,
            270895, 270896],
           dtype='int64', name='userId', length=270896)

In [121]:
ratings.merge(movies_meta[['']], how='left', on='movieId')

          userId  movieId  rating   timestamp
0              1      110     1.0  1425941529
1              1      147     4.5  1425942435
2              1      858     5.0  1425941523
3              1     1221     5.0  1425941546
4              1     1246     5.0  1425941556
...          ...      ...     ...         ...
26024284  270896    58559     5.0  1257031564
26024285  270896    60069     5.0  1257032032
26024286  270896    63082     4.5  1257031764
26024287  270896    64957     4.5  1257033990
26024288  270896    71878     2.0  1257031858

[26024289 rows x 4 columns]

In [123]:
movies_meta.id

0           862
1          8844
2         15602
3         31357
4         11862
          ...
45461    439050
45462    111109
45463     67758
45464    227506
45465    461257
Name: id, Length: 45466, dtype: object

In [162]:
# feature_extraction
movies_feature=  movies_meta[['title','imdb_id','id','overview','runtime','release_date','status','vote_count','vote_average','adult','genres' ]]

In [128]:
# merge를 위해 컬럼명 변경
ratings.columns = ['userId','id','rating','timestamp']

In [129]:
ratings

          userId     id  rating   timestamp
0              1    110     1.0  1425941529
1              1    147     4.5  1425942435
2              1    858     5.0  1425941523
3              1   1221     5.0  1425941546
4              1   1246     5.0  1425941556
...          ...    ...     ...         ...
26024284  270896  58559     5.0  1257031564
26024285  270896  60069     5.0  1257032032
26024286  270896  63082     4.5  1257031764
26024287  270896  64957     4.5  1257033990
26024288  270896  71878     2.0  1257031858

[26024289 rows x 4 columns]

In [130]:
# merge는 타입이 맞지 않는다.
ratings.merge(movies_feature[['id','overview']], how='left',on='id' )

ValueError: You are trying to merge on int64 and object columns. If you wish to proceed you should use pd.concat

In [134]:
# data type 맞추기
#ratings.id.dtype

dtype('int64')

In [135]:
#movies_feature.id.dtype

dtype('O')

In [138]:
movies_feature.id.astype(int)

ValueError: invalid literal for int() with base 10: '1997-08-20'

In [168]:
# 에러 값 제외 필요
#movies_feature[movies_feature.id == '1997-08-20']

# isin pass list-like
#
#movies_feature[movies_feature.id.isin(['1997-08-20'])]

#movies_feature[movies_feature.id.str.contains('-')].drop()
# ValueError: Need to specify at least one of 'labels', 'index' or 'columns


drop_index = movies_feature[movies_feature.id.str.contains('-')].index

In [169]:
movies_feature = movies_feature.drop(drop_index)

In [170]:
movies_feature.id = movies_feature.id.astype(int)

In [173]:
ratings.merge(movies_feature[['id','overview','title']], how='inner',on='id' )

,userId,id,rating,timestamp,overview,title
0,1,110,1.0,1425941529,Red This is the third film from the trilogy by...,Three Colors: Red
1,11,110,3.5,1231676989,Red This is the third film from the trilogy by...,Three Colors: Red
2,22,110,5.0,1111937009,Red This is the third film from the trilogy by...,Three Colors: Red
3,24,110,5.0,979870012,Red This is the third film from the trilogy by...,Three Colors: Red
4,29,110,3.0,1044020005,Red This is the third film from the trilogy by...,Three Colors: Red
...,...,...,...,...,...,...
11437632,270123,140222,3.0,1440920139,When a young soldier in Vietnam gets dumped by...,Love and Honor
11437633,270123,151509,3.0,1453527817,"The long awaited sequel to R. Kelly's ""Trapped...",Trapped in the Closet: Chapters 23-33
11437634,270123,159109,1.5,1465361347,"After being released from prison, a man known ...",The Rambler
11437635,270694,165159,4.0,1476635117,NaN,Agenzia Riccardo Finzi... praticamente detective
11437636,270887,136928,3.0,1463422216,"When winter begins, life is serene for a group...",First Winter

In [175]:
from sklearn.feature_extraction.text import TfidfVectorizer


tf = TfidfVectorizer()

TypeError: fit_transform() missing 1 required positional argument: 'raw_documents'

0        Led by Woody, Andy's toys live happily in his ...
1        When siblings Judy and Peter discover an encha...
2        A family wedding reignites the ancient feud be...
3        Cheated on, mistreated and stepped on, the wom...
4        Just when George Banks has recovered from his ...
                               ...
45461          Rising and falling between a man and woman.
45462    An artist struggles to finish his work while a...
45463    When one of her hits goes wrong, a professiona...
45464    In a small town live two brothers, one a minis...
45465    50 years after decriminalisation of homosexual...
Name: overview, Length: 45463, dtype: object

In [177]:
# word_dict genearte and encoding through fit_transform

In [186]:
tf.fit_transform(movies_feature['overview'].dropna())

<44509x76132 sparse matrix of type '<class 'numpy.float64'>'
	with 1885710 stored elements in Compressed Sparse Row format>

0        Led by Woody, Andy's toys live happily in his ...
1        When siblings Judy and Peter discover an encha...
2        A family wedding reignites the ancient feud be...
3        Cheated on, mistreated and stepped on, the wom...
4        Just when George Banks has recovered from his ...
                               ...
45461          Rising and falling between a man and woman.
45462    An artist struggles to finish his work while a...
45463    When one of her hits goes wrong, a professiona...
45464    In a small town live two brothers, one a minis...
45465    50 years after decriminalisation of homosexual...
Name: overview, Length: 44509, dtype: object

title            True
imdb_id          True
id              False
overview         True
runtime          True
release_date     True
status           True
vote_count       True
vote_average     True
adult           False
genres          False
dtype: bool