In [66]:

# minsupport 핵심 구현
import pdb
from collections import defaultdict
results=[]
def frequent_rec(patt, mdb):
    results.append((len(mdb), patt))
    # defaultdict(list) 있을 시 꺼내쓰면 발생
    occurs = defaultdict(list)
    for (i, startpos) in mdb:
        seq = db[i]
        for j in range(startpos + 1, len(seq)):
            # 값을 지정하지 않고 선언하면 seq[j]를 키로 하여 빈 list 로 value 초기화
            l = occurs[seq[j]]
            if len(l) == 0 or l[-1][0] != i:
                l.append((i, j))

    for (c, newmdb) in occurs.items():
        # newmdb의 전체 길이가 minsup이상이라는 것은 l값과 같이 있는 다른 item 쌍이 minsup이상만큼 추가 되었다는 것
        if len(newmdb) >= minsup:
            # tree구조로 patt과
            frequent_rec(patt + [c], newmdb)

In [ ]:
minsup = 2
db = [
    [0, 1, 2, 3, 4],
    [1, 1, 1, 3, 4],
    [2, 1, 2, 2, 0],
    [1, 1, 1, 2, 2],
]

In [68]:
frequent_rec([], [(i, -1) for i in range(len(db))])

print(results)

[(4, []), (2, [0]), (4, [1]), (3, [1, 2]), (2, [1, 2, 2]), (2, [1, 3]), (2, [1, 3, 4]), (2, [1, 4]), (2, [1, 1]), (2, [1, 1, 1]), (3, [2]), (2, [2, 2]), (2, [3]), (2, [3, 4]), (2, [4])]

In [147]:
# length를 2로 지정하면 우선 length 1로 발견될 수 있는 패턴을 찾는다 여기에서는 모든 행에
# 각각 길이가 1개씩 존재하는 값들을 찾는다
# 그러면 그 각각 1개의 값들이 prefix가 되고 그 이후 값은 모두 suffix가 되어
# (suffix들로 이루어진 ) <1개값>-project DB를 형성한다 그리고 또 다시 모든 행에서
#  length 1로 발견되는 값들이 있으면 찾아서 붙이고 그러면 첫번째찾은값+발견값이 prefix가 된다
#
from collections import defaultdict
import pdb
def frequent_rec(patt, mdb):
    # 찾은 패턴 값을 더한다
    results.append((len(mdb), patt))

    # l (대상 id 값) 에 패턴을 추가한다
    # project db
    # 전체 시퀀스에서 length 가 길이가 1인 패턴을 찾는 싸이클
    # 재귀함수에서 들어올땐 prefix로 patt가 생겼고 ,
    # 찾는 건 원래 db에서 seq를 찾고 , mdb는 minidb인거같은데 projectdb 이다 . naming 다시하기
    # sequence에서 length가 발생한 index 그 이후의 값부터
    # 돌기 때문에 prefixspan 이 완성된다
    occurs = defaultdict(list)
    for (idxi, startpos) in mdb:
        seq = db[idxi]
        for idxj in range(startpos + 1, len(seq)):
            values = occurs[seq[idxj]]
            if len(values) == 0 or values[-1][0] != idxi:
                # positional index 를 저장
                values.append((idxi, idxj))
                print("default dict values l : {} and idxj : {} and seq[idxj] :{} ".format(values,idxj,seq[idxj]))
    # 전체 시퀀스에서 length 가 길이가 1인 패턴을 찾는 싸이클
    print('occurs items :{}'.format(occurs.items()))
    # # 찾은 패턴을 prefix로 하여 발생한 다른 패턴 값을 붙여 재귀함수를 돌린다
    for (c, newmdb) in occurs.items():
        print(c,newmdb)
        print(patt+[c])
        break
    #     if len(newmdb) >= minsup:
    #         frequent_rec(patt + [c], newmdb)

In [148]:
db

[[0, 1, 2, 3, 4], [1, 1, 1, 3, 4], [2, 1, 2, 2, 0], [1, 1, 1, 2, 2]]

In [149]:
frequent_rec([], [(i, -1) for i in range(len(db))])

default dict values l : [(0, 0)] and idxj : 0 and seq[idxj] :0
default dict values l : [(0, 1)] and idxj : 1 and seq[idxj] :1
default dict values l : [(0, 2)] and idxj : 2 and seq[idxj] :2
default dict values l : [(0, 3)] and idxj : 3 and seq[idxj] :3
default dict values l : [(0, 4)] and idxj : 4 and seq[idxj] :4
default dict values l : [(0, 1), (1, 0)] and idxj : 0 and seq[idxj] :1
default dict values l : [(0, 3), (1, 3)] and idxj : 3 and seq[idxj] :3
default dict values l : [(0, 4), (1, 4)] and idxj : 4 and seq[idxj] :4
default dict values l : [(0, 2), (2, 0)] and idxj : 0 and seq[idxj] :2
default dict values l : [(0, 1), (1, 0), (2, 1)] and idxj : 1 and seq[idxj] :1
default dict values l : [(0, 0), (2, 4)] and idxj : 4 and seq[idxj] :0
default dict values l : [(0, 1), (1, 0), (2, 1), (3, 0)] and idxj : 0 and seq[idxj] :1
default dict values l : [(0, 2), (2, 0), (3, 3)] and idxj : 3 and seq[idxj] :2
occurs items :dict_items([(0, [(0, 0), (2, 4)]), (1, [(0, 1), (1, 0), (2, 1), (3, 0)]), (2, [(0, 2), (2, 0), (3, 3)]), (3, [(0, 3), (1, 3)]), (4, [(0, 4), (1, 4)])])
0 [(0, 0), (2, 4)]
[0]

In [127]:
db = [
    [0, 1, 2, 3, 4],
    [1, 1, 1, 3, 4],
    [2, 1, 2, 2, 0],
    [1, 1, 1, 2, 2],
]

minsup = 2

results = []



print(results)

[]

In [75]:
[(i, -1) for i in range(len(db))]

[(0, -1), (1, -1), (2, -1), (3, -1)]

In [ ]:
frequent_rec([], [(i, -1) for i in range(len(db))])

In [ ]:
# submit process

# Write Submission CSV
sub = pd.read_csv('../input/h-and-m-personalized-fashion-recommendations/sample_submission.csv')
sub = sub[['customer_id']]

In [ ]:


df.article_id.value_counts()#%%

In [ ]:
sub['customer_id_2'] = sub['customer_id'].apply(lambda x :  int( x[-16:],16))


sub = sub.merge(preds.rename({'customer_id':'customer_id_2'},axis=1), on='customer_id_2',how='left').fillna('')

del sub['customer_id_2']


sub.prediction

sub.prediction = sub.prediction + top12

sub.prediction


sub.prediction = sub.prediction.str.strip()
sub.prediction = sub.prediction.str[:131]

sub['prediction'].values[0]

sub.to_csv(f'submission.csv',index=False)
sub.head()

In [114]:





import src.data

In [126]:
import importlib
importlib.reload(src.data)

In [127]:
import os

os.getcwd()

'C:\\Users\\DATA\\PycharmProjects\\kaggle\\H&MRecommendation'

In [128]:
dataloader = src.data.DataLoader()

in

KeyboardInterrupt:

In [131]:
train = dataloader.load('train',test_config=True)

in

In [133]:
train

,t_dat,customer_id,article_id,price,sales_channel_id
0,2018-09-20,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,0663713001,0.050831,2
1,2018-09-20,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,0541518023,0.030492,2
2,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,0505221004,0.015237,2
3,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,0685687003,0.016932,2
4,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,0685687004,0.016932,2
...,...,...,...,...,...
299995,2018-09-26,eba6633f08ed7939e039e2e4373428c1d037a66bae41d3...,0591334001,0.016932,2
299996,2018-09-26,eba6633f08ed7939e039e2e4373428c1d037a66bae41d3...,0591334001,0.016932,2
299997,2018-09-26,eba6633f08ed7939e039e2e4373428c1d037a66bae41d3...,0662857002,0.042356,2
299998,2018-09-26,eba6633f08ed7939e039e2e4373428c1d037a66bae41d3...,0662857002,0.042356,2
299999,2018-09-26,ebac71216b3f6affa29a6225cdbabe4eb93be0da9084b1...,0682267002,0.050831,2

In [134]:
group_data = train[['customer_id','article_id','sales_channel_id']].groupby(['article_id','customer_id']).count().reset_index()

In [135]:
pivot_data = group_data.pivot(columns='article_id',index='customer_id',values='sales_channel_id')

In [137]:
pivot_data

article_id,0108775015,0108775044,0108775051,0110065001,0110065002,0110065011,0111565001,0111586001,0111593001,0111609001,...,0724252003,0724281001,0725253001,0725676001,0727754001,0728111001,0728146001,0728162001,0728162002,0729931001
customer_id,,,,,,,,,,,,,,,,,,,,,
0000423b00ade91418cceaf3b26c6af3dd342b51fd051eec9c12fb36984420fa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
000058a12d5b43e67d225668fa1f8d618c13dc232df0cad8ffe7ad4a1091e318,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
00007d2de826758b65a93dd24ce629ed66842531df6699338c5570910a014cc2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
00025f8226be50dcab09402a2cacd520a99e112fe01fddd1b10ea71270547b26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0003abe64294e66a6310c3436fa9e5b754cc5603deef4f26fc8ab8d043af9358,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
fffbdd2f8e59d45c0fb50a14b0ea555f7daa5307b3f922080b09d29044988234,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
fffe7116f9f68e8ad287fd7b6e33aad4871d7080e77d2d5e52636ba1c27cf032,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
fffed13f041cc91f74dc6ec4e3267d7bb71bc833d53b7d7e970b7cd8c9bb7157,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ffffcd5046a6143d29a04fb8c424ce494a76e5cdf4fab53481233731b5c4f8b7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ffffcf35913a0bee60e8741cb2b4e78b8a98ee5ff2e6a1778d0116cffd259264,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [138]:
pivot_data.fillna(0,inplace=True)

KeyboardInterrupt:

In [ ]:
import time
import numpy as np
import pandas as pd
import multiprocessing as mp
from multiprocessing import Pool
from functools import partial

In [ ]:

dfu = dataloader.load('dfu')

In [ ]:
dfi = dataloader.load('dfi')

In [ ]:
ALL_USERS = dfu['customer_id'].unique().tolist()

In [ ]:
ALL_ITEMS = dfi['article_id'].unique().tolist()

In [ ]:
user_to_customer_map = {user_id: customer_id for user_id, customer_id in enumerate(ALL_USERS)}

In [ ]:
customer_to_user_map = {customer_id : user_id for user_id , customer_id in enumerate(ALL_USERS)}

In [ ]:
item_to_article_map = {item_id : article_id for item_id , article_id in enumerate(ALL_ITEMS)}

In [ ]:
article_to_item_map = {article_id : item_id for item_id, article_id in enumerate(ALL_ITEMS)}

In [ ]:
del dfu , dfi

In [2]:
df = train.copy()

NameError: name 'train' is not defined

In [ ]:
df['user_id'] = df['customer_id'].map(customer_to_user_map)

In [68]:



import src.data
import importlib

In [139]:
importlib.reload(src.data)

In [140]:
dataloader = src.data.DataLoader()

In [141]:
df = dataloader.load('train',test_config=True)

in

In [142]:
df = dataloader.load('train',True)

in

In [143]:
df

,t_dat,customer_id,article_id,price,sales_channel_id
0,2018-09-20,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,0663713001,0.050831,2
1,2018-09-20,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,0541518023,0.030492,2
2,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,0505221004,0.015237,2
3,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,0685687003,0.016932,2
4,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,0685687004,0.016932,2
...,...,...,...,...,...
299995,2018-09-26,eba6633f08ed7939e039e2e4373428c1d037a66bae41d3...,0591334001,0.016932,2
299996,2018-09-26,eba6633f08ed7939e039e2e4373428c1d037a66bae41d3...,0591334001,0.016932,2
299997,2018-09-26,eba6633f08ed7939e039e2e4373428c1d037a66bae41d3...,0662857002,0.042356,2
299998,2018-09-26,eba6633f08ed7939e039e2e4373428c1d037a66bae41d3...,0662857002,0.042356,2
299999,2018-09-26,ebac71216b3f6affa29a6225cdbabe4eb93be0da9084b1...,0682267002,0.050831,2

In [144]:
# groupby 후 column 에 apply 함수적용
dfh = df.groupby('customer_id')['article_id'].apply(lambda item : list(set(item)))

In [146]:

dfh

customer_id
0000423b00ade91418cceaf3b26c6af3dd342b51fd051eec9c12fb36984420fa    [0639677008, 0666448006, 0521269001, 064024400...
000058a12d5b43e67d225668fa1f8d618c13dc232df0cad8ffe7ad4a1091e318                             [0541518023, 0663713001]
00007d2de826758b65a93dd24ce629ed66842531df6699338c5570910a014cc2    [0522992001, 0508184022, 0567618001, 068568700...
00025f8226be50dcab09402a2cacd520a99e112fe01fddd1b10ea71270547b26                             [0703199002, 0664180001]
0003abe64294e66a6310c3436fa9e5b754cc5603deef4f26fc8ab8d043af9358     [0501820008, 0591334019, 0640174004, 0543054005]
                                                                                          ...
fffbdd2f8e59d45c0fb50a14b0ea555f7daa5307b3f922080b09d29044988234                             [0501820001, 0614010001]
fffe7116f9f68e8ad287fd7b6e33aad4871d7080e77d2d5e52636ba1c27cf032                 [0548467001, 0496111013, 0580770002]
fffed13f041cc91f74dc6ec4e3267d7bb71bc833d53b7d7e970b7cd8c9bb7157                                         [0661435002]
ffffcd5046a6143d29a04fb8c424ce494a76e5cdf4fab53481233731b5c4f8b7                                         [0671695001]
ffffcf35913a0bee60e8741cb2b4e78b8a98ee5ff2e6a1778d0116cffd259264                                         [0568597019]
Name: article_id, Length: 75433, dtype: object

In [147]:
from prefixspan import PrefixSpan

In [148]:
ps =  PrefixSpan(dfh.values)

In [149]:
ps.frequent(2)

[(10, ['0639677008']),
 (99, ['0666448006']),
 (2, ['0666448006', '0574064001']),
 (4, ['0666448006', '0688873001']),
 (2, ['0666448006', '0579541027']),
 (2, ['0666448006', '0591334014']),
 (4, ['0666448006', '0666448005']),
 (10, ['0666448006', '0666448001']),
 (2, ['0666448006', '0496111018']),
 (2, ['0666448006', '0685687003']),
 (2, ['0666448006', '0562245018']),
 (2, ['0666448006', '0591334016']),
 (2, ['0666448006', '0514134001']),
 (2, ['0666448006', '0514134001', '0688873001']),
 (3, ['0666448006', '0637549004']),
 (2, ['0666448006', '0660599001']),
 (2, ['0666448006', '0539723006']),
 (3, ['0666448006', '0662980001']),
 (4, ['0666448006', '0501820003']),
 (3, ['0666448006', '0637549012']),
 (2, ['0666448006', '0663396002']),
 (2, ['0666448006', '0637549003']),
 (2, ['0666448006', '0591334020']),
 (2, ['0666448006', '0574109015']),
 (2, ['0666448006', '0501820045']),
 (3, ['0666448006', '0501820008']),
 (2, ['0666448006', '0685687002']),
 (2, ['0666448006', '0591334003']),
 (115, ['0521269001']),
 (2, ['0521269001', '0640244003']),
 (2, ['0521269001', '0583558001']),
 (2, ['0521269001', '0592180003']),
 (3, ['0521269001', '0589222001']),
 (6, ['0521269001', '0663515004']),
 (2, ['0521269001', '0591334003']),
 (14, ['0521269001', '0521269002']),
 (2, ['0521269001', '0691764006']),
 (5, ['0521269001', '0637673005']),
 (2, ['0521269001', '0637673005', '0637492001']),
 (3, ['0521269001', '0685687002']),
 (2, ['0521269001', '0685687002', '0685687001']),
 (2, ['0521269001', '0637492001']),
 (2, ['0521269001', '0635957003']),
 (3, ['0521269001', '0685687001']),
 (3, ['0521269001', '0685687003']),
 (2, ['0521269001', '0705094001']),
 (4, ['0521269001', '0501820042']),
 (2, ['0521269001', '0637549013']),
 (2, ['0521269001', '0661435001']),
 (4, ['0521269001', '0502186011']),
 (2, ['0521269001', '0501820007']),
 (2, ['0521269001', '0610274009']),
 (3, ['0521269001', '0555364007']),
 (2, ['0521269001', '0501286001']),
 (2, ['0521269001', '0667378001']),
 (2, ['0521269001', '0683662006']),
 (2, ['0521269001', '0647334001']),
 (2, ['0521269001', '0661162003']),
 (2, ['0521269001', '0667379003']),
 (2, ['0521269001', '0621846006']),
 (2, ['0521269001', '0562820001']),
 (2, ['0521269001', '0635084002']),
 (2, ['0521269001', '0189634001']),
 (2, ['0521269001', '0552473037']),
 (2, ['0521269001', '0573716040']),
 (2, ['0521269001', '0605939004']),
 (3, ['0521269001', '0685687004']),
 (2, ['0521269001', '0661162002']),
 (2, ['0521269001', '0399223001']),
 (2, ['0521269001', '0524825013']),
 (3, ['0521269001', '0645065001']),
 (2, ['0521269001', '0573085020']),
 (2, ['0521269001', '0676198001']),
 (2, ['0521269001', '0680374003']),
 (127, ['0640244003']),
 (2, ['0640244003', '0583558001']),
 (2, ['0640244003', '0657476002']),
 (3, ['0640244003', '0573085020']),
 (2, ['0640244003', '0683662006']),
 (2, ['0640244003', '0512251003']),
 (7, ['0640244003', '0524061003']),
 (2, ['0640244003', '0651273001']),
 (5, ['0640244003', '0640244002']),
 (2, ['0640244003', '0688873017']),
 (5, ['0640244003', '0685687002']),
 (2, ['0640244003', '0662888003']),
 (6, ['0640244003', '0685687004']),
 (3, ['0640244003', '0589924005']),
 (3, ['0640244003', '0589222001']),
 (2, ['0640244003', '0589222001', '0524061003']),
 (4, ['0640244003', '0623434007']),
 (3, ['0640244003', '0623434007', '0623434011']),
 (2, ['0640244003', '0683662002']),
 (2, ['0640244003', '0685687001']),
 (4, ['0640244003', '0685687003']),
 (2, ['0640244003', '0685687003', '0685687004']),
 (5, ['0640244003', '0623434011']),
 (4, ['0640244003', '0671505002']),
 (3, ['0640244003', '0585482001']),
 (2, ['0640244003', '0574109015']),
 (2, ['0640244003', '0521269002']),
 (2, ['0640244003', '0554450019']),
 (4, ['0640244003', '0662868001']),
 (2, ['0640244003', '0650677004']),
 (2, ['0640244003', '0635084002']),
 (2, ['0640244003', '0625342002']),
 (2, ['0640244003', '0665477003']),
 (2, ['0640244003', '0538699001']),
 (2, ['0640244003', '0660599001']),
 (2, ['0640244003', '0671022001']),
 (2, ['0640244003', '0671022001', '0594834010']),
 (2, ['0640244003', '0594834010']),
 (49, ['0583558001']),
 (2, ['0583558001', '0583533002']),
 (2, ['0583558001', '0652742001']),
 (2, ['0583558001', '0663515004']),
 (2, ['0583558001', '0558986001']),
 (2, ['0583558001', '0683662006']),
 (30, ['0541518023']),
 (2, ['0541518023', '0560389013']),
 (2, ['0541518023', '0639656001']),
 (43, ['0663713001']),
 (2, ['0663713001', '0658850002']),
 (2, ['0663713001', '0658850002', '0650274001']),
 (2, ['0663713001', '0650274001']),
 (2, ['0663713001', '0487722001']),
 (2, ['0663713001', '0111565001']),
 (2, ['0663713001', '0471077001']),
 (10, ['0522992001']),
 (2, ['0522992001', '0585985003']),
 (2, ['0522992001', '0585985003', '0594430008']),
 (2, ['0522992001', '0594430008']),
 (29, ['0508184022']),
 (2, ['0508184022', '0685687003']),
 (2, ['0508184022', '0685687003', '0685687004']),
 (2, ['0508184022', '0605106001']),
 (4, ['0508184022', '0685687004']),
 (2, ['0508184022', '0685687001']),
 (2, ['0508184022', '0547747001']),
 (2, ['0508184022', '0582257001']),
 (2, ['0508184022', '0536139013']),
 (2, ['0508184022', '0617646002']),
 (2, ['0508184022', '0384654004']),
 (36, ['0567618001']),
 (2, ['0567618001', '0605777008']),
 (2, ['0567618001', '0562245018']),
 (2, ['0567618001', '0571487001']),
 (2, ['0567618001', '0571487001', '0341782022']),
 (2, ['0567618001', '0571487001', '0341782022', '0569996006']),
 (2, ['0567618001', '0571487001', '0569996006']),
 (2, ['0567618001', '0341782022']),
 (2, ['0567618001', '0341782022', '0569996006']),
 (2, ['0567618001', '0569996006']),
 (2, ['0567618001', '0548926001']),
 (2, ['0567618001', '0611062002']),
 (1089, ['0685687003']),
 (5, ['0685687003', '0605106001']),
 (2, ['0685687003', '0605106001', '0685687001']),
 (160, ['0685687003', '0685687004']),
 (20, ['0685687003', '0685687004', '0685687001']),
 (2, ['0685687003', '0685687004', '0683662002']),
 (2, ['0685687003', '0685687004', '0644379002']),
 (3, ['0685687003', '0685687004', '0683662006']),
 (2, ['0685687003', '0685687004', '0705094002']),
 (2, ['0685687003', '0685687004', '0684588006']),
 (2, ['0685687003', '0685687004', '0623434011']),
 (2, ['0685687003', '0685687004', '0665975002']),
 (2, ['0685687003', '0685687004', '0667379003']),
 (2, ['0685687003', '0685687004', '0662935002']),
 (2, ['0685687003', '0685687004', '0591334003']),
 (2, ['0685687003', '0685687004', '0611062002']),
 (2, ['0685687003', '0685687004', '0611062002', '0685687001']),
 (3, ['0685687003', '0685687004', '0568864003']),
 (2, ['0685687003', '0685687004', '0679655001']),
 (2, ['0685687003', '0685687004', '0673638003']),
 (2, ['0685687003', '0685687004', '0501820003']),
 (189, ['0685687003', '0685687001']),
 (11, ['0685687003', '0685687001', '0685687004']),
 (3, ['0685687003', '0685687001', '0685687002']),
 (2, ['0685687003', '0685687001', '0599502009']),
 (2, ['0685687003', '0685687001', '0679494004']),
 (2, ['0685687003', '0685687001', '0562245058']),
 (2, ['0685687003', '0685687001', '0636455009']),
 (2, ['0685687003', '0685687001', '0573085004']),
 (2, ['0685687003', '0685687001', '0640677004']),
 (3, ['0685687003', '0685687001', '0512251003']),
 (3, ['0685687003', '0685687001', '0591334003']),
 (2, ['0685687003', '0685687001', '0695601001']),
 (2, ['0685687003', '0685687001', '0448509017']),
 (3, ['0685687003', '0685687001', '0680912009']),
 (3, ['0685687003', '0685687001', '0524825013']),
 (2, ['0685687003', '0685687001', '0653733001']),
 (2, ['0685687003', '0685687001', '0662728004']),
 (2, ['0685687003', '0685687001', '0573716002']),
 (2, ['0685687003', '0685687001', '0552475017']),
 (2, ['0685687003', '0505221004']),
 (115, ['0685687003', '0685687002']),
 (2, ['0685687003', '0685687002', '0676198001']),
 (16, ['0685687003', '0685687002', '0685687004']),
 (3, ['0685687003', '0685687002', '0685687004', '0685687001']),
 (2, ['0685687003', '0685687002', '0672890001']),
 (2, ['0685687003', '0685687002', '0705094002']),
 (2, ['0685687003', '0685687002', '0537346013']),
 (23, ['0685687003', '0685687002', '0685687001']),
 (2, ['0685687003', '0685687002', '0547747001']),
 (2, ['0685687003', '0685687002', '0690478001']),
 (2, ['0685687003', '0685687002', '0562245018']),
 (2, ['0685687003', '0685687002', '0650193004']),
 (3, ['0685687003', '0685687002', '0639976002']),
 (2, ['0685687003', '0685687002', '0574109015']),
 (2, ['0685687003', '0685687002', '0703795001']),
 (2, ['0685687003', '0685687002', '0554450019']),
 (2, ['0685687003', '0685687002', '0524825013']),
 (2, ['0685687003', '0685687002', '0532578020']),
 (2, ['0685687003', '0685687002', '0663515004']),
 (2, ['0685687003', '0685687002', '0591334003']),
 (2, ['0685687003', '0685687002', '0637549011']),
 (6, ['0685687003', '0655259002']),
 (5, ['0685687003', '0676198001']),
 (2, ['0685687003', '0573085027']),
 (2, ['0685687003', '0573085027', '0685687001']),
 (7, ['0685687003', '0589222001']),
 (11, ['0685687003', '0610776002']),
 (2, ['0685687003', '0610776002', '0578487011']),
 (4, ['0685687003', '0660599001']),
 (2, ['0685687003', '0554598011']),
 (4, ['0685687003', '0639192009']),
 (4, ['0685687003', '0615021023']),
 (13, ['0685687003', '0573085020']),
 (3, ['0685687003', '0501820001']),
 (2, ['0685687003', '0501820001', '0685687001']),
 (3, ['0685687003', '0501820043']),
 (2, ['0685687003', '0662857001']),
 (3, ['0685687003', '0647804001']),
 (12, ['0685687003', '0690478001']),
 (2, ['0685687003', '0690478001', '0685687004']),
 (2, ['0685687003', '0690478001', '0685687001']),
 (2, ['0685687003', '0591333005']),
 (6, ['0685687003', '0657497007']),
 (2, ['0685687003', '0512699001']),
 (2, ['0685687003', '0672890001']),
 (4, ['0685687003', '0668767002']),
 (4, ['0685687003', '0665975002']),
 (7, ['0685687003', '0705094002']),
 (3, ['0685687003', '0502186011']),
 (5, ['0685687003', '0399136004']),
 (9, ['0685687003', '0537346013']),
 (6, ['0685687003', '0501820004']),
 (4, ['0685687003', '0628930001']),
 (3, ['0685687003', '0623434007']),
 (2, ['0685687003', '0623434007', '0623434011']),
 (2, ['0685687003', '0665725001']),
 (3, ['0685687003', '0623434011']),
 (6, ['0685687003', '0661435002']),
 (2, ['0685687003', '0536139028']),
 (5, ['0685687003', '0647334001']),
 (2, ['0685687003', '0496111004']),
 (2, ['0685687003', '0647389001']),
 (12, ['0685687003', '0574109015']),
 (2, ['0685687003', '0574109015', '0685687001']),
 (2, ['0685687003', '0665477001']),
 (5, ['0685687003', '0633130002']),
 (3, ['0685687003', '0688873001']),
 (2, ['0685687003', '0661435001']),
 (6, ['0685687003', '0644379002']),
 (4, ['0685687003', '0648868001']),
 (2, ['0685687003', '0648868001', '0685687001']),
 (2, ['0685687003', '0663396001']),
 (2, ['0685687003', '0627143001']),
 (2, ['0685687003', '0578474001']),
 (3, ['0685687003', '0568597009']),
 (2, ['0685687003', '0637255009']),
 (3, ['0685687003', '0581777008']),
 (3, ['0685687003', '0680374001']),
 (2, ['0685687003', '0680374001', '0685687001']),
 (4, ['0685687003', '0680912005']),
 (3, ['0685687003', '0625939012']),
 (2, ['0685687003', '0662084001']),
 (2, ['0685687003', '0662084001', '0667491002']),
 (2, ['0685687003', '0683662008']),
 (2, ['0685687003', '0506110001']),
 (2, ['0685687003', '0189616006']),
 (8, ['0685687003', '0548467001']),
 (3, ['0685687003', '0667491002']),
 (2, ['0685687003', '0639192006']),
 (7, ['0685687003', '0671505004']),
 (2, ['0685687003', '0568013001']),
 (3, ['0685687003', '0597918001']),
 (2, ['0685687003', '0552471029']),
 (2, ['0685687003', '0618387002']),
 (3, ['0685687003', '0660308003']),
 (2, ['0685687003', '0548388015']),
 (2, ['0685687003', '0600197002']),
 (6, ['0685687003', '0547747001']),
 (2, ['0685687003', '0547747001', '0685687001']),
 (2, ['0685687003', '0496111017']),
 (7, ['0685687003', '0645065001']),
 (5, ['0685687003', '0678552001']),
 (2, ['0685687003', '0552473001']),
 (2, ['0685687003', '0605093001']),
 (6, ['0685687003', '0684080003']),
 (2, ['0685687003', '0665725003']),
 (2, ['0685687003', '0665725003', '0665725002']),
 (2, ['0685687003', '0665725003', '0665725002', '0685687004']),
 (2, ['0685687003', '0665725003', '0685687004']),
 (2, ['0685687003', '0665725002']),
 (2, ['0685687003', '0665725002', '0685687004']),
 (3, ['0685687003', '0664133003']),
 (2, ['0685687003', '0664133003', '0685687004']),
 (3, ['0685687003', '0622962001']),
 (6, ['0685687003', '0532578010']),
 (2, ['0685687003', '0532578010', '0685687004']),
 (2, ['0685687003', '0532578010', '0532578001']),
 (3, ['0685687003', '0539723005']),
 (2, ['0685687003', '0687934002']),
 (6, ['0685687003', '0637549003']),
 (6, ['0685687003', '0705094001']),
 (7, ['0685687003', '0573085010']),
 (4, ['0685687003', '0573085010', '0685687001']),
 (2, ['0685687003', '0573085010', '0685687004']),
 (7, ['0685687003', '0599502009']),
 (2, ['0685687003', '0713756001']),
 (2, ['0685687003', '0673396002']),
 (2, ['0685687003', '0673396002', '0641741002']),
 (2, ['0685687003', '0658298001']),
 (3, ['0685687003', '0671022001']),
 (4, ['0685687003', '0641741002']),
 (9, ['0685687003', '0524825013']),
 (3, ['0685687003', '0504154016']),
 (2, ['0685687003', '0705143001']),
 (4, ['0685687003', '0679494004']),
 (2, ['0685687003', '0679494004', '0685687004']),
 (3, ['0685687003', '0609719001']),
 (3, ['0685687003', '0351484002']),
 (5, ['0685687003', '0507909001']),
 (2, ['0685687003', '0507909001', '0693956003']),
 (5, ['0685687003', '0688873017']),
 (2, ['0685687003', '0693956003']),
 (5, ['0685687003', '0680782001']),
 (2, ['0685687003', '0680782001', '0685687001']),
 (5, ['0685687003', '0705094003']),
 (5, ['0685687003', '0685284003']),
 (5, ['0685687003', '0399201024']),
 (2, ['0685687003', '0399201024', '0685687004']),
 (4, ['0685687003', '0637549010']),
 (5, ['0685687003', '0585788001']),
 (13, ['0685687003', '0662868001']),
 (5, ['0685687003', '0613246002']),
 (4, ['0685687003', '0661162002']),
 (2, ['0685687003', '0541518023']),
 (7, ['0685687003', '0501820003']),
 (2, ['0685687003', '0679986001']),
 (12, ['0685687003', '0562245018']),
 (8, ['0685687003', '0589924005']),
 (6, ['0685687003', '0639677001']),
 (2, ['0685687003', '0639677001', '0524825013']),
 (2, ['0685687003', '0612935007']),
 (2, ['0685687003', '0636093001']),
 (2, ['0685687003', '0691839001']),
 (2, ['0685687003', '0651330003']),
 (11, ['0685687003', '0662935002']),
 (2, ['0685687003', '0568137002']),
 (5, ['0685687003', '0637515005']),
 (4, ['0685687003', '0637515005', '0685687001']),
 (3, ['0685687003', '0529953001']),
 (2, ['0685687003', '0653248003']),
 (3, ['0685687003', '0650193004']),
 (2, ['0685687003', '0562245058']),
 (5, ['0685687003', '0644073002']),
 (2, ['0685687003', '0644073002', '0685687004']),
 (3, ['0685687003', '0633130020']),
 (7, ['0685687003', '0535488010']),
 (2, ['0685687003', '0535488010', '0519749040']),
 (3, ['0685687003', '0665477003']),
 (2, ['0685687003', '0663945001']),
 (4, ['0685687003', '0683662002']),
 (5, ['0685687003', '0519749040']),
 (2, ['0685687003', '0534357002']),
 (10, ['0685687003', '0654100005']),
 (5, ['0685687003', '0478549001']),
 (2, ['0685687003', '0557938003']),
 (6, ['0685687003', '0189634001']),
 (5, ['0685687003', '0524825014']),
 (2, ['0685687003', '0524825014', '0573716002']),
 (2, ['0685687003', '0524825014', '0685687001']),
 (2, ['0685687003', '0562252010']),
 (5, ['0685687003', '0573716002']),
 (2, ['0685687003', '0639478002']),
 (2, ['0685687003', '0551614001']),
 (2, ['0685687003', '0560213002']),
 (9, ['0685687003', '0685683001']),
 (2, ['0685687003', '0685683001', '0685687004']),
 (5, ['0685687003', '0662888003']),
 (5, ['0685687003', '0636455009']),
 (2, ['0685687003', '0636455009', '0573085004']),
 (6, ['0685687003', '0573085004']),
 (12, ['0685687003', '0701129002']),
 (3, ['0685687003', '0701129002', '0685687002']),
 (6, ['0685687003', '0537346026']),
 (2, ['0685687003', '0621019001']),
 (3, ['0685687003', '0639976002']),
 (2, ['0685687003', '0662980001']),
 (3, ['0685687003', '0666006006']),
 (11, ['0685687003', '0671505002']),
 (2, ['0685687003', '0671505002', '0685687004']),
 (3, ['0685687003', '0671505002', '0685687001']),
 (2, ['0685687003', '0675856003']),
 (2, ['0685687003', '0637549001']),
 (3, ['0685687003', '0585482001']),
 (2, ['0685687003', '0585482001', '0685687001']),
 (4, ['0685687003', '0667379003']),
 (3, ['0685687003', '0625819007']),
 (6, ['0685687003', '0660599002']),
 (2, ['0685687003', '0660599002', '0685687001']),
 (8, ['0685687003', '0683662006']),
 (3, ['0685687003', '0667491011']),
 (2, ['0685687003', '0667491006']),
 (6, ['0685687003', '0665975001']),
 (2, ['0685687003', '0683662009']),
 (2, ['0685687003', '0640677004']),
 (2, ['0685687003', '0640244002']),
 (2, ['0685687003', '0655784001']),
 (2, ['0685687003', '0632065002']),
 (4, ['0685687003', '0651912002']),
 (5, ['0685687003', '0512251003']),
 (7, ['0685687003', '0695601001']),
 (2, ['0685687003', '0685343001']),
 (2, ['0685687003', '0694986001']),
 (2, ['0685687003', '0582077002']),
 (3, ['0685687003', '0628466001']),
 (2, ['0685687003', '0628466001', '0685687004']),
 (2, ['0685687003', '0589924011']),
 (9, ['0685687003', '0589924004']),
 (2, ['0685687003', '0602409006']),
 (4, ['0685687003', '0691764006']),
 (3, ['0685687003', '0691764006', '0685687004']),
 (2, ['0685687003', '0691764006', '0685687001']),
 (2, ['0685687003', '0562245059']),
 (4, ['0685687003', '0572942002']),
 (2, ['0685687003', '0348870001']),
 (2, ['0685687003', '0547937001']),
 (2, ['0685687003', '0626713001']),
 (2, ['0685687003', '0687371001']),
 (6, ['0685687003', '0399223001']),
 (8, ['0685687003', '0501820007']),
 (4, ['0685687003', '0501820007', '0685687001']),
 (3, ['0685687003', '0324502008']),
 (2, ['0685687003', '0660369005']),
 (2, ['0685687003', '0675856001']),
 (2, ['0685687003', '0509210002']),
 (7, ['0685687003', '0591334004']),
 (2, ['0685687003', '0599502005']),
 (2, ['0685687003', '0399087015']),
 (2, ['0685687003', '0635190002']),
 (2, ['0685687003', '0684588006']),
 (3, ['0685687003', '0652869001']),
 (7, ['0685687003', '0665509002']),
 (3, ['0685687003', '0562245042']),
 (4, ['0685687003', '0577513001']),
 (7, ['0685687003', '0554450019']),
 (3, ['0685687003', '0510126016']),
 (3, ['0685687003', '0619148005']),
 (3, ['0685687003', '0669034002']),
 (2, ['0685687003', '0669034002', '0685687004']),
 (3, ['0685687003', '0678553004']),
 (2, ['0685687003', '0554598004']),
 (2, ['0685687003', '0631837003']),
 (2, ['0685687003', '0651244001']),
 (2, ['0685687003', '0655403004']),
 (3, ['0685687003', '0160442007']),
 (2, ['0685687003', '0664133001']),
 (2, ['0685687003', '0539723006']),
 (4, ['0685687003', '0610744007']),
 (3, ['0685687003', '0671011001']),
 (5, ['0685687003', '0717341001']),
 (2, ['0685687003', '0717341001', '0685687004']),
 (3, ['0685687003', '0581781010']),
 (2, ['0685687003', '0381038003']),
 (2, ['0685687003', '0484108008']),
 (8, ['0685687003', '0591334003']),
 (2, ['0685687003', '0608952004']),
 (3, ['0685687003', '0244267029']),
 (3, ['0685687003', '0657497001']),
 (2, ['0685687003', '0663396002']),
 (2, ['0685687003', '0636323001']),
 (2, ['0685687003', '0685284001']),
 (2, ['0685687003', '0665477002']),
 (2, ['0685687003', '0657203001']),
 (2, ['0685687003', '0518328009']),
 (2, ['0685687003', '0657195001']),
 (2, ['0685687003', '0611024001']),
 (8, ['0685687003', '0661162003']),
 (3, ['0685687003', '0448509017']),
 (3, ['0685687003', '0509280004']),
 (6, ['0685687003', '0591334014']),
 (2, ['0685687003', '0591334014', '0685687004']),
 (2, ['0685687003', '0570781003']),
 (2, ['0685687003', '0620951002']),
 (2, ['0685687003', '0613666002']),
 (2, ['0685687003', '0642296004']),
 (2, ['0685687003', '0642296002']),
 (4, ['0685687003', '0635957003']),
 (3, ['0685687003', '0504154022']),
 (7, ['0685687003', '0680912009']),
 (3, ['0685687003', '0189616008']),
 (4, ['0685687003', '0189616007']),
 (2, ['0685687003', '0399136011']),
 (2, ['0685687003', '0573716033']),
 (2, ['0685687003', '0664647003']),
 (2, ['0685687003', '0631837004']),
 (3, ['0685687003', '0637661003']),
 (3, ['0685687003', '0532578019']),

In [150]:
print(ps.topk(5))

[(1089, ['0685687003']), (1044, ['0685687001']), (991, ['0685687004']), (971, ['0685687002']), (584, ['0539723005'])]

In [152]:
import numpy as np
user_chunk = np.array_split(users, mp.cpu_count())

NameError: name 'users' is not defined

In [153]:
dfd = df.groupby('t_dat').count()

In [154]:
dates = dfd.index.tolist()

In [155]:
dates

[Timestamp('2018-09-20 00:00:00'),
 Timestamp('2018-09-21 00:00:00'),
 Timestamp('2018-09-22 00:00:00'),
 Timestamp('2018-09-23 00:00:00'),
 Timestamp('2018-09-24 00:00:00'),
 Timestamp('2018-09-25 00:00:00'),
 Timestamp('2018-09-26 00:00:00')]

In [156]:
import numpy as np
date_chunk = np.array_split(dates,3)

In [ ]:

from multiprocessing import Pool
date_chunk

,t_dat,customer_id,article_id,price,sales_channel_id
0,2018-09-20,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,0663713001,0.050831,2
1,2018-09-20,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,0541518023,0.030492,2
2,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,0505221004,0.015237,2
3,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,0685687003,0.016932,2
4,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,0685687004,0.016932,2
...,...,...,...,...,...
299995,2018-09-26,eba6633f08ed7939e039e2e4373428c1d037a66bae41d3...,0591334001,0.016932,2
299996,2018-09-26,eba6633f08ed7939e039e2e4373428c1d037a66bae41d3...,0591334001,0.016932,2
299997,2018-09-26,eba6633f08ed7939e039e2e4373428c1d037a66bae41d3...,0662857002,0.042356,2
299998,2018-09-26,eba6633f08ed7939e039e2e4373428c1d037a66bae41d3...,0662857002,0.042356,2
299999,2018-09-26,ebac71216b3f6affa29a6225cdbabe4eb93be0da9084b1...,0682267002,0.050831,2

In [ ]:
data['LOGIN_ID'].map(lambda x : str(x)+'1')

In [159]:
df = df.set_index('t_dat')

In [160]:
df.loc[date_chunk[0]]

,customer_id,article_id,price,sales_channel_id
t_dat,,,,
2018-09-20,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,0663713001,0.050831,2
2018-09-20,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,0541518023,0.030492,2
2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,0505221004,0.015237,2
2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,0685687003,0.016932,2
2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,0685687004,0.016932,2
...,...,...,...,...
2018-09-22,fffbdd2f8e59d45c0fb50a14b0ea555f7daa5307b3f922...,0614010001,0.050831,2
2018-09-22,fffbdd2f8e59d45c0fb50a14b0ea555f7daa5307b3f922...,0501820001,0.016932,2
2018-09-22,fffe7116f9f68e8ad287fd7b6e33aad4871d7080e77d2d...,0580770002,0.016932,2
2018-09-22,fffe7116f9f68e8ad287fd7b6e33aad4871d7080e77d2d...,0496111013,0.016932,2
2018-09-22,fffe7116f9f68e8ad287fd7b6e33aad4871d7080e77d2d...,0548467001,0.016932,2

KeyError: "None of ['t_dat'] are in the columns"

In [162]:
from functools import partial


date_unit

,customer_id,article_id,price,sales_channel_id
t_dat,,,,
2018-09-20,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,0663713001,0.050831,2
2018-09-20,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,0541518023,0.030492,2
2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,0505221004,0.015237,2
2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,0685687003,0.016932,2
2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,0685687004,0.016932,2
...,...,...,...,...
2018-09-22,fffbdd2f8e59d45c0fb50a14b0ea555f7daa5307b3f922...,0614010001,0.050831,2
2018-09-22,fffbdd2f8e59d45c0fb50a14b0ea555f7daa5307b3f922...,0501820001,0.016932,2
2018-09-22,fffe7116f9f68e8ad287fd7b6e33aad4871d7080e77d2d...,0580770002,0.016932,2
2018-09-22,fffe7116f9f68e8ad287fd7b6e33aad4871d7080e77d2d...,0496111013,0.016932,2
2018-09-22,fffe7116f9f68e8ad287fd7b6e33aad4871d7080e77d2d...,0548467001,0.016932,2

In [161]:
date_unit = df.loc[date_chunk[0]]

In [163]:
article_unit = date_unit.groupby('customer_id')['article_id'].apply(lambda article_id: list(set(article_id))).values

In [164]:
ps = PrefixSpan(article_unit)

In [165]:
res = ps.topk(5)

In [166]:
import pandas as pd

res

[(771, ['0685687004']),
 (508, ['0685687001']),
 (439, ['0685687003']),
 (271, ['0685687002']),
 (264, ['0673677002'])]

In [167]:
res.sort(key=lambda x: x[0], reverse=True)

In [168]:
res

[(771, ['0685687004']),
 (508, ['0685687001']),
 (439, ['0685687003']),
 (271, ['0685687002']),
 (264, ['0673677002'])]

In [169]:
res = pd.DataFrame(data=res,columns=['frequent','pattern'])

In [188]:
date_unit

,customer_id,article_id,price,sales_channel_id
t_dat,,,,
2018-09-20,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,0663713001,0.050831,2
2018-09-20,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,0541518023,0.030492,2
2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,0505221004,0.015237,2
2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,0685687003,0.016932,2
2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,0685687004,0.016932,2
...,...,...,...,...
2018-09-22,fffbdd2f8e59d45c0fb50a14b0ea555f7daa5307b3f922...,0614010001,0.050831,2
2018-09-22,fffbdd2f8e59d45c0fb50a14b0ea555f7daa5307b3f922...,0501820001,0.016932,2
2018-09-22,fffe7116f9f68e8ad287fd7b6e33aad4871d7080e77d2d...,0580770002,0.016932,2
2018-09-22,fffe7116f9f68e8ad287fd7b6e33aad4871d7080e77d2d...,0496111013,0.016932,2
2018-09-22,fffe7116f9f68e8ad287fd7b6e33aad4871d7080e77d2d...,0548467001,0.016932,2

In [189]:
df

,customer_id,article_id,price,sales_channel_id
t_dat,,,,
2018-09-20,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,0663713001,0.050831,2
2018-09-20,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,0541518023,0.030492,2
2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,0505221004,0.015237,2
2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,0685687003,0.016932,2
2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,0685687004,0.016932,2
...,...,...,...,...
2018-09-26,eba6633f08ed7939e039e2e4373428c1d037a66bae41d3...,0591334001,0.016932,2
2018-09-26,eba6633f08ed7939e039e2e4373428c1d037a66bae41d3...,0591334001,0.016932,2
2018-09-26,eba6633f08ed7939e039e2e4373428c1d037a66bae41d3...,0662857002,0.042356,2
2018-09-26,eba6633f08ed7939e039e2e4373428c1d037a66bae41d3...,0662857002,0.042356,2
2018-09-26,ebac71216b3f6affa29a6225cdbabe4eb93be0da9084b1...,0682267002,0.050831,2

In [ ]:
def get_date_support(date_chunk_unit:np.array, df:pd.DataFrame ):

    pid = mp.current_process().pid

    print(f"[PID {pid:>2d}] Started working with {n:5d} users")

    date_unit = df.loc[date_chunk_unit]
    article_unit = date_unit.groupby('customer_id')['article_id'].apply(lambda article_id: list(set(article_id))).values
    ps = PrefixSpan(article_unit)
    res = ps.topk(5)
    res = pd.DataFrame(data=res, columns=['frequent','pattern'])
    return res

In [ ]:
date_chunk

In [ ]:
import multiprocessing as mp
pid = mp.current_process().pid

23608

In [ ]:
pid

In [175]:
date_unit

,customer_id,article_id,price,sales_channel_id
t_dat,,,,
2018-09-20,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,0663713001,0.050831,2
2018-09-20,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,0541518023,0.030492,2
2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,0505221004,0.015237,2
2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,0685687003,0.016932,2
2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,0685687004,0.016932,2
...,...,...,...,...
2018-09-22,fffbdd2f8e59d45c0fb50a14b0ea555f7daa5307b3f922...,0614010001,0.050831,2
2018-09-22,fffbdd2f8e59d45c0fb50a14b0ea555f7daa5307b3f922...,0501820001,0.016932,2
2018-09-22,fffe7116f9f68e8ad287fd7b6e33aad4871d7080e77d2d...,0580770002,0.016932,2
2018-09-22,fffe7116f9f68e8ad287fd7b6e33aad4871d7080e77d2d...,0496111013,0.016932,2
2018-09-22,fffe7116f9f68e8ad287fd7b6e33aad4871d7080e77d2d...,0548467001,0.016932,2

In [176]:
article_unit

array([list(['0640244003', '0639677008', '0583558001']),
       list(['0541518023', '0663713001']),
       list(['0685687003', '0505221001', '0685687004', '0685687001', '0505221004']),
       ..., list(['0501820001', '0614010001']),
       list(['0548467001', '0496111013', '0580770002']),
       list(['0568597019'])], dtype=object)

In [177]:
ps = PrefixSpan(article_unit)

In [179]:
res = ps.topk(5)

In [180]:
res  =pd.DataFrame(data =res, columns=['1','2'])

In [181]:
res

     1             2
0  771  [0685687004]
1  508  [0685687001]
2  439  [0685687003]
3  271  [0685687002]
4  264  [0673677002]

In [182]:
#  df 는 함수 정의할 때 주입하지 않고 여기서 한번 주입한다 , multiprocess 이므로

from multiprocessing import Pool
from functools import partial

In [183]:
df

,customer_id,article_id,price,sales_channel_id
t_dat,,,,
2018-09-20,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,0663713001,0.050831,2
2018-09-20,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,0541518023,0.030492,2
2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,0505221004,0.015237,2
2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,0685687003,0.016932,2
2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,0685687004,0.016932,2
...,...,...,...,...
2018-09-26,eba6633f08ed7939e039e2e4373428c1d037a66bae41d3...,0591334001,0.016932,2
2018-09-26,eba6633f08ed7939e039e2e4373428c1d037a66bae41d3...,0591334001,0.016932,2
2018-09-26,eba6633f08ed7939e039e2e4373428c1d037a66bae41d3...,0662857002,0.042356,2
2018-09-26,eba6633f08ed7939e039e2e4373428c1d037a66bae41d3...,0662857002,0.042356,2
2018-09-26,ebac71216b3f6affa29a6225cdbabe4eb93be0da9084b1...,0682267002,0.050831,2

In [184]:
f = partial( get_date_support ,df = df )

In [45]:
date_chunk

[array([Timestamp('2018-09-20 00:00:00'), Timestamp('2018-09-21 00:00:00'),
        Timestamp('2018-09-22 00:00:00')], dtype=object),
 array([Timestamp('2018-09-23 00:00:00'), Timestamp('2018-09-24 00:00:00')],
       dtype=object),
 array([Timestamp('2018-09-25 00:00:00'), Timestamp('2018-09-26 00:00:00')],
       dtype=object)]

[array([Timestamp('2018-09-20 00:00:00'), Timestamp('2018-09-21 00:00:00'),
        Timestamp('2018-09-22 00:00:00')], dtype=object),
 array([Timestamp('2018-09-23 00:00:00'), Timestamp('2018-09-24 00:00:00')],
       dtype=object),
 array([Timestamp('2018-09-25 00:00:00'), Timestamp('2018-09-26 00:00:00')],
       dtype=object)]

In [ ]:
from multiprocessing import Pool

In [ ]:
with Pool(3) as p:
    res = p.map(f,date_chunk )
df_rec = pd.DataFrame(pd.concat(res))

In [ ]:
res

In [ ]:
res

In [ ]:
N_SIMILAR_USERS =30

MINIMUM_PURCHASES = 3

START_DATE = '2020-08-21'

DROP_PURCHASE_ITEMS =False

DROP_USER_FROM_HIS_NEIGHBORHOOD = False

TEST_RUN = False

TEST_SIZE = 1000

In [ ]:
def flatten(l):
    """ Flatten a list of lists"""
    return [item for sublist in l for item in sublist]

In [ ]:
def compare_vectors(v1, v2):
    """
    Compare lists of purchased product for two given users
    v1 stands for the "vector representation for user 1"  , which is a list of the purchases of u1

    Returns:
        A value between 0 and 1 (similarity)

    :param v1:
    :param v2:
    :return:
    """
    intersection = len(set(v1) & set(v2))
    denominator = np.sqrt(len(v1) * len(v2))

    return intersection / denominator

In [ ]:
def get_similar_users(u , v , dfh):
    """
    Get the N_SIMILAR_USERS most similar users to the given one with their similarity score

    :param u: the user_id
    :param v:  the "vector" representation of the user (list of item_id)
    :param dfh: the "history of transactions" dataframe
    :return: tuple of lists ([similar_user_id] , [similarity scores])
    """


    similar_users = dfh.apply(lambda v_other : compare_vectors(v, v_other)).sort_values(ascending=False).head(N_SIMILAR_USERS+1)

    if DROP_USER_FROM_HIS_NEIGHBORHOOD:
        similar_users = similar_users[similar_users.index != u]

    return similar_users.index.tolist(), similar_users.tolist()


def get_items(u, v , dfh):
    """ Get the recommend items for a given users

    It will:
        1) Get similar users for the given user
        2) Obtain all the items those users purchased
        3) Rank them using similarity scores of the user that purchased them
        4) Return the 12 best ranked

    Arguments:
        u: the user_id,
        v: the "vector" representation of the user ( list of item_id)
        dfh : the " history of transactions" dataframe

    Returns:
        list of item_id of lenth at most 12
    """


    global i, n

    users, scores = get_similar_users(u, v , dfh)

    df_nn = pd.DataFrame({'user':users, 'score': scores})

    df_nn['items'] = df_nn.apply(lambda row: dfh.loc[row.user],axis=1)

    df_nn['weighted_items'] = df_nn.apply(lambda row: [(item, row.score) for item in row['items']], axis=1)

    recs = pd.DataFrame(flatten(df_nn['weighted_items'].tolist()),\
                        columns=['item','score']).groupby('item')['score'].sum().sort_values(ascending=False)


    if DROP_PURCHASE_ITEMS:
        recs = recs[~recs.index.isin(v)]
    # Keep the first 12 and get the item_ids
    i += 1
    if i % 200 == 0:
        pid = mp.current_process().pid
        print(f"[PID {pid:>2d}] Finished {i:3d} / {n:5d} - {i/n*100:3.0f}%"  )
    return recs.head(12).index.tolist()

In [ ]:
def get_items_chunk(user_ids: np.array, dfh:pd.DataFrame):

    """Call get_item for a list of user_ids



    :param use_ids: list of user_id
    :param dfh: "history of transactions" dataframe
    :return: pd.Series with index user_id and list of item_id (recommendation) as value
    """
    global i, n
    i = 0

    n = len(user_ids)
    pid = mp.current_process().pid

    print(f"[PID {pid:>2d}] Started working with {n:5d} users")

    df_user_vectors = pd.DataFrame(dfh.loc[user_ids]).reset_index()
    df_user_vectors['recs'] = df_user_vectors.apply(lambda row: get_items(row.user_id,row.item_id,dfh),axis=1)
    return df_user_vectors.set_index('user_id')['recs']

In [ ]:
def get_recommendation(users: list , dfh :pd.DataFrame):


    """
    Obtained recommendation for the users using transaction dfh in a parallelized manner

    Call get_items_chunk in a  "smart" multiprocessing fashion

    Arguments:
        users: lists of user_id
        dfh : the "history of transactions" dataframe
    :return
        pd.DataFrame with index user_id and list of item_id (recommendation) as value



    :param users:
    :param dfh:
    :return:
    """
    time_start = time.time()

    #Split into approximately evenly sized chunks
    # We will send just one batch to each CPU
    user_chunks = np.array_split(users, mp.cpu_count())


    f = partial(get_items_chunk,dfh=dfh)
    with Pool(mp.cpu_count()) as p:
        res = p.map(f, user_chunks)

    df_rec = pd.DataFrame(pd.concat(res))

    elapsed = (time.time() - time_start) / 60
    print(f"Finished get_recommendation({len(users)}). It took {elapsed:5.2f} mins ")
    return df_rec

    #%%

In [ ]:
def uucf(df , start_date =START_DATE):

    """
    Entry poin for the UUCF model

    Receicve the original transactions_train.csv and a start_date and gets UUCF recommendations

    the model will not cover the full list of users, but just a subset of them.

    It will provid recommendations for users with at least MINIMUM_PURCHASES after start_date

    It might return less than 12 recs per user.

    An ad-hoc function for filling these gaps should be used downstream

    (See fill functionallity right below)

    Arguments:
        df : The raw dataframe from transaction_train.csv
        start_data : a date

    Returns:
        a submission-like pd.DataFrame with columns [customer_id, prediction]
        'prediction' is a list and not a string though



    :param df:
    :param start_data:
    :return:
    """

    df_small = df[df['t_dat'] > start_date]
    print(f"Kept data from {start_date} on. Total rows: {len(df_small)}")

    # H stands for "Transaction history"
    # dfh is a series of user_id => list of item_id (the list of purchases in order)
    dfh = df_small.groupby("user_id")['item_id'].apply(lambda items: list(set(items)))
    dfh = dfh[dfh.str.len() >= MINIMUM_PURCHASES]

    if TEST_RUN:
        print("WARNING : TEST_RUN is True . It will be a toy execution")
        dfh = dfh.head(TEST_SIZE)
    users = dfh.index.tolist()
    n_users = len(users)
    print(f"Total users in the time frame with at least {MINIMUM_PURCHASES}: {n_users}")


    df_rec = get_recommendation(users, dfh)
    df_rec['customer_id'] = df_rec.index.map(user_to_customer_map)
    df_rec['prediction'] = df_rec['recs'].map(lambda l : [item_to_article_map[i] for i in l])

    # Submission ready dataframe
    df_rec.reset_index(drop=True)[['customer_id','prediction']]
    return df_rec

In [ ]:
## point line (test) process 확인용

df_recs = uucf(df, '2018-09-20' )

In [ ]:
df_small = df[df['t_dat'] > '2018-09-20']

In [ ]:
dfh =df_small.groupby('user_id')['item_id'].apply(lambda  items: list(set(items)))

In [1]:
dfh

NameError: name 'dfh' is not defined

In [ ]:
dfh = dfh[dfh.str.len() >=MINIMUM_PURCHASES]

In [ ]:
users = dfh.index.tolist()

In [ ]:
user_chunks = np.array_split(users, mp.cpu_count())

In [ ]:
dfh.loc[users]

In [ ]:
time_start = time.time()

#f = partial(get_items_chunk,dfh=dfh)

#with Pool(mp.cpu_count()) as p:
#    res = p.map(f, user_chunks)
global i, n
i = 0

n = len(user_chunks)
#pid = mp.current_process().pid
#print(f"[PID {pid:>2d}] Started working with {n:5d} users")

df_user_vectors = pd.DataFrame(dfh.loc[users]).reset_index()

In [ ]:
dfh.loc[users]

In [ ]:
df_user_vectors

In [ ]:
df_user_vectors['recs'] = df_user_vectors.apply(lambda row: get_items(row.user_id,row.item_id,dfh),axis=1)
df_user_vectors.set_index('user_id')['recs']

In [ ]:
df_user_vectors

In [ ]:
df_rec = pd.DataFrame(pd.concat(res))

elapsed = (time.time() - time_start) / 60